In [174]:
import os
import pandas as pd
import io
import unicodedata

In [140]:
root_files = os.listdir('coral_and_sponges_all')
root_files = root_files[0:3] + root_files[4:6] + root_files[9:12]
sub_files_to_flatten = [[f'{r}/{f}' for f in os.listdir(f'coral_and_sponges_all/{r}')] for r in root_files]
#Flatten list of files into one list
sub_files = [f'coral_and_sponges_all/{item}' for sublist in sub_files_to_flatten for item in sublist]

In [141]:
len(sub_files)

200

In [177]:
def create_coral_file_df(filename):
    try:
        coral_file = open(filename,'r')
        file_in = coral_file.readlines()

        for i in range(len(file_in)):
            line = file_in[i]
            if "Location:" in line:
                location = line.split(": ")[1]
            if "Northernmost_Latitude:" in line:
                northernmost_lat = line.split(": ")[1]
            if "Southernmost_Latitude:" in line:
                southernmost_lat = line.split(": ")[1]
            if "Easternmost_Longitude:" in line:
                easternmost_lat = line.split(": ")[1]
            if "Westernmost_Longitude:" in line:
                westernmost_lat = line.split(": ")[1]
            if "Elevation:" in line:
                elevation = line.split(": ")[1].split(' ')[0]
            if "Earliest_Year:" in line:
                earliest_year = line.split(": ")[1]
            if "Most_Recent_Year:" in line:
                most_recent_year = line.split(": ")[1]
            if "Species_Name:" in line:
                species = line.split(": ")[1].strip('\n')
            if line.startswith('age'):
                age_line = i
                extracted = ' '.join(file_in[age_line:])
                # print(extracted)

        try:
            lat = (float(northernmost_lat) + float(southernmost_lat)) / 2
            lon = (float(easternmost_lat) + float(westernmost_lat)) / 2

            data = io.StringIO(extracted)
            df = pd.read_csv(data, sep="\t", error_bad_lines=False)
            df = df[['age', 'd18O']]
            df = df[df['d18O'] != 'NAN']
            df['lat'] = lat
            df['lon'] = lon
            df['elevation'] = elevation
            df['species'] = species
            return(df)

        except Exception as e:
            print("ERROR : "+str(e))
            # print("Error on line {}".format(sys.exc_info()[-1].tb_lineno))
            # print('hi')
    except Exception as e:
            print("ERROR : "+str(e))

Quick Proof of Concept for the function above:

In [181]:
all_coral_df.to_csv('all_coral.csv')

In [178]:
filename = 'coral_and_sponges_all/atlantic/barbados_coral18o.txt'
#"coral_and_sponges_all/atlantic/goodkin2008-sst_noaa.txt"
#'swart1998-st-1_noaa.txt'

create_coral_file_df(filename)

ERROR : 'utf-8' codec can't decode byte 0x94 in position 92: invalid start byte

In [179]:
all_coral_df = pd.DataFrame(columns=['age', 'd18O', 'lat', 'lon', 'elevation', 'species'])
for file in sub_files:
    print(file)
    coral_df = create_coral_file_df(file)
    all_coral_df = pd.concat([all_coral_df, coral_df])

all_coral_df.reset_index
all_coral_df

coral_and_sponges_all/atlantic/moses2006-side_noaa.txt
coral_and_sponges_all/atlantic/goodkin2008-sst_noaa.txt
coral_and_sponges_all/atlantic/kuhnert2002_noaa.txt
coral_and_sponges_all/atlantic/moses2006_noaa.txt
coral_and_sponges_all/atlantic/moses2006-fave_noaa.txt
coral_and_sponges_all/atlantic/smith2006-lk1.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/atlantic/swart1999-fb-5_noaa.txt
coral_and_sponges_all/atlantic/barbados_coral18o.txt
ERROR : 'utf-8' codec can't decode byte 0x94 in position 92: invalid start byte
coral_and_sponges_all/atlantic/swart1998-st-1_noaa.txt
coral_and_sponges_all/atlantic/kuhnert2005-fixed.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/atlantic/smith2006-lk23.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/atlantic/kuhnert2005.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/atlantic/kuhnert2002-inter_noaa.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/atlantic/swart1998-p-2_noaa.txt
coral_and_sponges_all/atlantic/swart1999-fb-45_noaa.txt
coral_and_sponges_all/atlantic/bahamas-sclerosponge2005.txt
ERROR : 'utf-8' codec can't decode byte 0x96 in position 1663: invalid start byte
coral_and_sponges_all/atlantic/swart1996-bour_noaa.txt
coral_and_sponges_all/atlantic/goodkin2008-d18o_noaa.txt
coral_and_sponges_all/atlantic/bahamas-sclerosponge-2002.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/atlantic/moses2006-side-mon_noaa.txt
coral_and_sponges_all/atlantic/swart1996-fave_noaa.txt
coral_and_sponges_all/coral/.DS_Store
ERROR : 'utf-8' codec can't decode byte 0x86 in position 23: invalid start byte
coral_and_sponges_all/indian_ocean/zinke2004_noaa.txt

/var/folders/ws/d7dc4bz53q3_26hs2vbmg8600000gn/T/ipykernel_61255/3567907975.py:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  coral_df = create_coral_file_df(file)
b'Skipping line 219: expected 5 fields, saw 6\n'

coral_and_sponges_all/indian_ocean/zinke2014-sr
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/indian_ocean/zinke2014-sr'
coral_and_sponges_all/indian_ocean/damassa2006-new_noaa.txt
coral_and_sponges_all/indian_ocean/kuhnert1999-bimonth_noaa.txt
coral_and_sponges_all/indian_ocean/kuhnert1999-depth_noaa.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/indian_ocean/abram2008-d18o_noaa.txt
coral_and_sponges_all/indian_ocean/taitaitanopo2015.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/indian_ocean/batu-hitam2015.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/indian_ocean/hennekam2018
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/indian_ocean/hennekam2018'
coral_and_sponges_all/indian_ocean/zinke2009_noaa.txt
coral_and_sponges_all/indian_ocean/zinke2008_noaa.txt
coral_and_sponges_all/indian_ocean/damassa2006-old_noaa.txt
coral_and_sponges_all/indian_ocean/pirotan1998.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/indian_ocean/gagan2015
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/indian_ocean/gagan2015'
coral_and_sponges_all/indian_ocean/kuhnert2000-depth_noaa.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/indian_ocean/pfeiffer2019
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/indian_ocean/pfeiffer2019'
coral_and_sponges_all/indian_ocean/charles1997_noaa.txt
ERROR : 'utf-8' codec can't decode byte 0xf1 in position 2985: invalid continuation byte
coral_and_sponges_all/indian_ocean/cole2000_noaa.txt
coral_and_sponges_all/indian_ocean/mayotte2008.txt
ERROR : 'utf-8' codec can't decode byte 0xb0 in position 2612: invalid start byte
coral_and_sponges_all/indian_ocean/nakamura2009_noaa.txt
coral_and_sponges_all/indian_ocean/zinke2012
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/indian_ocean/zinke2012'
coral_and_sponges_all/indian_ocean/pfeiffer2004_noaa.txt
coral_and_sponges_all/indian_ocean/seychelles2006.txt
ERROR : 'utf-8' codec can't decode byte 0xb0 in position 2867: invalid start byte
coral_and_sponges_all/indian_ocean/chagos2004.txt
ERROR : 'utf-8' codec can't decode byte 0xb0 in position 2759: invalid start byte
coral_and_sponges_all/indian_ocean/abram2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/indian_ocean/abram2020'
coral_and_sponges_all/indian_ocean/kuhnert2000-bimonth_noaa.txt
coral_and_sponges_all/indian_ocean/port-blair2010.txt
ERROR : 'utf-8' codec can't decode byte 0xfc in position 3522: invalid start byte
coral_and_sponges_all/caribbean/cibao2017iso2res.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/caribbean/kilbourne2008_noaa.txt
coral_and_sponges_all/caribbean/hetzinger2010-mon_noaa.txt
coral_and_sponges_all/caribbean/cibao2017iso2.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/caribbean/haase-schramm2003-ce96-d18o_noaa.txt
coral_and_sponges_all/caribbean/cibao2017iso1.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/caribbean/carilli2013-smf-1.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/caribbean/hetzinger2008-mon_noaa.txt
coral_and_sponges_all/caribbean/haase-schramm2003-pb19-d18o_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/caribbean/hetzinger2008-ann_noaa.txt
coral_and_sponges_all/caribbean/carilli2013-cmf-4.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/caribbean/cibao2017iso1res.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/caribbean/la_parguera.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/caribbean/von_reumont2018-ann.txt
ERROR : 'utf-8' codec can't decode byte 0xf6 in position 1513: invalid start byte
coral_and_sponges_all/caribbean/carilli2013-hmf-1.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/caribbean/carilli2013-umf-6.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/caribbean/hetzinger2010-ann_noaa.txt
coral_and_sponges_all/caribbean/von_reumont2018-month.txt
ERROR : 'utf-8' codec can't decode byte 0xf6 in position 1515: invalid start byte
coral_and_sponges_all/red_sea/ras-umm-sidd2018ann.txt
ERROR : 'utf-8' codec can't decode byte 0xf6 in position 1826: invalid start byte
coral_and_sponges_all/red_sea/heiss1994-aq18_noaa.txt
coral_and_sponges_all/red_sea/heiss1994-aq19_noaa.txt
coral_and_sponges_all/red_sea/aqaba_2004.txt
ERROR : 'utf-8' codec can't decode byte 0xe4 in position 1030: invalid continuation byte
coral_and_sponges_all/red_sea/felis2000_noaa.txt
coral_and_sponges_all/red_sea/ras-umm-sidd2019d18o.txt
ERROR : "['age'] not in index"
coral_and_sponges_all/red_sea/ras-umm-sidd2018bmon.txt
ERROR : 'utf-8' codec can't decode byte 0xf6 in position 1827: invalid start byte
coral_and_sponges_all/west_pacific/nc_published_1992-1657_qtr.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/west_pacific/li2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/li2020'
coral_and_sponges_all/west_pacific/quinn1996_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/west_pacific/cole1993-mon_noaa.txt
coral_and_sponges_all/west_pacific/bagnato2005_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/west_pacific/palau2013uc.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/west_pacific/mohtar2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/mohtar2020'
coral_and_sponges_all/west_pacific/great_barrier
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/great_barrier'
coral_and_sponges_all/west_pacific/tasmaloum_2004.txt
ERROR : 'utf-8' codec can't decode byte 0xe8 in position 584: invalid continuation byte
coral_and_sponges_all/west_pacific/amedee2004.txt
ERROR : 'utf-8' codec can't decode byte 0xe9 in position 2258: invalid continuation byte
coral_and_sponges_all/west_pacific/amedee2012.txt
ERROR : 'utf-8' codec can't decode byte 0xe9 in position 2: invalid continuation byte
coral_and_sponges_all/west_pacific/palau2013nl.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/west_pacific/charles2003-lom_noaa.txt
coral_and_sponges_all/west_pacific/guilderson1999-nauru1-long_noaa.txt
coral_and_sponges_all/west_pacific/gorman2012.txt
ERROR : 'utf-8' codec can't decode byte 0xb0 in position 1450: invalid start byte
coral_and_sponges_all/west_pacific/felis2009-ann_noaa.txt
coral_and_sponges_all/west_pacific/gorman2012-rawdata.txt
ERROR : 'utf-8' codec can't decode byte 0xb0 in position 1447: invalid start byte
coral_and_sponges_all/west_pacific/kilbourne2004_noaa.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/west_pacific/palau2013ngb.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/west_pacific/palau2002.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/west_pacific/palau2014uc.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/west_pacific/linsley2006
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/linsley2006'
coral_and_sponges_all/west_pacific/okinawa2006.txt
ERROR : 'utf-8' codec can't decode byte 0x89 in position 1518: invalid start byte
coral_and_sponges_all/west_pacific/marinduque2004.xls
ERROR : 'utf-8' codec can't decode byte 0xd0 in position 0: invalid continuation byte
coral_and_sponges_all/west_pacific/kikai2004.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/west_pacific/charles2003-bun_noaa.txt
coral_and_sponges_all/west_pacific/quinn2002_noaa.txt
coral_and_sponges_all/west_pacific/guilderson1999-nauru1-hires_noaa.txt
coral_and_sponges_all/west_pacific/guam2004.txt
ERROR : 'utf-8' codec can't decode byte 0x96 in position 1377: invalid start byte
coral_and_sponges_all/west_pacific/asami2005_noaa.txt
coral_and_sponges_all/west_pacific/cole1993-ldgo-39_noaa.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/west_pacific/bagnato2004-lh_noaa.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/west_pacific/bagnato2004-4f1-lh_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/west_pacific/murty2017
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/murty2017'
coral_and_sponges_all/west_pacific/hon-tre2014.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/west_pacific/palau2013ri.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/west_pacific/cole1993-ldgo-44_noaa.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/west_pacific/pohnpei2004.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/west_pacific/bagnato2004-4f1_noaa.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/west_pacific/cahyarini2014
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/cahyarini2014'
coral_and_sponges_all/west_pacific/felis2009-mon_noaa.txt
coral_and_sponges_all/west_pacific/murty2018
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/murty2018'
coral_and_sponges_all/west_pacific/palau2014ri.txt
ERROR : "None of [Index(['age', 'd18O'], dtype='object')] are in the [columns]"
coral_and_sponges_all/west_pacific/druffel1993_noaa.txt
coral_and_sponges_all/west_pacific/papua_new_guinea
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/papua_new_guinea'
coral_and_sponges_all/west_pacific/ramos2017
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/ramos2017'
coral_and_sponges_all/west_pacific/reed2019
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/reed2019'
coral_and_sponges_all/west_pacific/ramos2019
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/ramos2019'
coral_and_sponges_all/west_pacific/tudhope1995_noaa.txt
coral_and_sponges_all/west_pacific/guilderson1999-nauru2_noaa.txt
coral_and_sponges_all/west_pacific/urban2000_noaa.txt
coral_and_sponges_all/west_pacific/asami2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/west_pacific/asami2020'
coral_and_sponges_all/west_pacific/bougainville_guyot2004.txt
ERROR : 'utf-8' codec can't decode byte 0xf1 in position 1399: invalid continuation byte
coral_and_sponges_all/east_pacific/linsley2006-99_noaa.txt
coral_and_sponges_all/east_pacific/dunbar1994_noaa.txt
coral_and_sponges_all/east_pacific/line-islands2009.txt
ERROR : 'utf-8' codec can't decode byte 0xb1 in position 3240: invalid start byte
coral_and_sponges_all/east_pacific/cobb2013-fan-v11_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2013-fan-v10_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/sanchez2016
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/east_pacific/sanchez2016'
coral_and_sponges_all/east_pacific/sanchez2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/east_pacific/sanchez2020'
coral_and_sponges_all/east_pacific/cobb2013-fan-v8_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2003-sb3_noaa.txt
coral_and_sponges_all/east_pacific/evans1998-long_noaa.txt
coral_and_sponges_all/east_pacific/ptapitt.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/east_pacific/cobb2003-sb13_noaa.txt
coral_and_sponges_all/east_pacific/cobb2003-sb8_noaa.txt
coral_and_sponges_all/east_pacific/palmyra2020d18o.txt
ERROR : local variable 'species' referenced before assignment
coral_and_sponges_all/east_pacific/cobb2013-fan-v33_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2013-xmas-p26_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2003-spl17_noaa.txt
coral_and_sponges_all/east_pacific/kiritimati2021coral.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/east_pacific/cobb2003-sb5_noaa.txt
coral_and_sponges_all/east_pacific/linsley2006-3r-ann_noaa.txt
coral_and_sponges_all/east_pacific/cobb2013-xmas-p382e2noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/linsley2006-3r_noaa.txt
coral_and_sponges_all/east_pacific/cobb2013-fan-modsplice_noaa.txt
coral_and_sponges_all/east_pacific/dunbar1994-depth_noaa.txt
ERROR : local variable 'extracted' referenced before assignment
coral_and_sponges_all/east_pacific/wu2014-f1b.txt
ERROR : 'utf-8' codec can't decode byte 0xe9 in position 1158: invalid continuation byte
coral_and_sponges_all/east_pacific/clipperton_2b_iso.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/east_pacific/cobb2013-fan-v28_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/tahiti2012.txt
ERROR : 'utf-8' codec can't decode byte 0xf6 in position 655: invalid start byte
coral_and_sponges_all/east_pacific/clipperton_3c_iso.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/east_pacific/boiseau1999_noaa.txt
coral_and_sponges_all/east_pacific/tahiti2010.txt
ERROR : 'utf-8' codec can't decode byte 0xb0 in position 1301: invalid start byte
coral_and_sponges_all/east_pacific/cobb2013-xmas-p40_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2013-xmas-m2_noaa.txt
ERROR : list index out of range
coral_and_sponges_all/east_pacific/cobb2013-xmas-p37_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2003-mod_noaa.txt
coral_and_sponges_all/east_pacific/evans1998-short_noaa.txt
coral_and_sponges_all/east_pacific/cobb2013-xmas-p2_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2013-fan-v30_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/kiritimati2011.txt
ERROR : 'utf-8' codec can't decode byte 0xf1 in position 1404: invalid continuation byte
coral_and_sponges_all/east_pacific/kiritimati2013.txt
ERROR : 'utf-8' codec can't decode byte 0xf1 in position 1252: invalid continuation byte
coral_and_sponges_all/east_pacific/wu2014
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/east_pacific/wu2014'
coral_and_sponges_all/east_pacific/cobb2013-xmas-p11_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/linsley2006-99-ann_noaa.txt
coral_and_sponges_all/east_pacific/toth2015
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/east_pacific/toth2015'
coral_and_sponges_all/east_pacific/boiseau1999-avg_noaa.txt
coral_and_sponges_all/east_pacific/cobb2013-xmas-p381_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2003-ch9_noaa.txt
coral_and_sponges_all/east_pacific/calibration.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/east_pacific/cobb2013-fan-v13_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2001_noaa.txt
coral_and_sponges_all/east_pacific/druffel2015
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/east_pacific/druffel2015'
coral_and_sponges_all/east_pacific/clipperton_4b_iso_12yr.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/east_pacific/cobb2013-xmas-p43_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/ramos2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/east_pacific/ramos2020'
coral_and_sponges_all/east_pacific/cobb2013-xmas-p34_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2003-ch5_noaa.txt
coral_and_sponges_all/east_pacific/cobb2013-xmas-p49_noaa.txt
ERROR : "['d18O'] not in index"
coral_and_sponges_all/east_pacific/cobb2003-nb9_noaa.txt
coral_and_sponges_all/east_pacific/druffel2014
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/east_pacific/druffel2014'
coral_and_sponges_all/east_pacific/linsley1994_noaa.txt
coral_and_sponges_all/east_pacific/nurhati2011_noaa.txt
coral_and_sponges_all/east_pacific/linsley2006-2r-d18o_noaa.txt
coral_and_sponges_all/east_pacific/cobb2003-nb12_noaa.txt
coral_and_sponges_all/east_pacific/cobb2003-spl14_noaa.txt
coral_and_sponges_all/east_pacific/cobb2003-sb7_noaa.txt
coral_and_sponges_all/east_pacific/cobb2003-sb6_noaa.txt
coral_and_sponges_all/east_pacific/cobb2013-fan-a104_noaa.txt
ERROR : list index out of range
coral_and_sponges_all/east_pacific/cobb2003-sb17_noaa.txt
coral_and_sponges_all/east_pacific/cobb2013-xmas-mod_noaa.txt
ERROR : list index out of range
coral_and_sponges_all/south_china_sea/wu2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/south_china_sea/wu2020'
coral_and_sponges_all/south_china_sea/han2019
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/south_china_sea/han2019'
coral_and_sponges_all/south_china_sea/krawczyk2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/south_china_sea/krawczyk2020'
coral_and_sponges_all/south_china_sea/ren2017
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/south_china_sea/ren2017'

         age    d18O    lat     lon elevation               species
0       1990  -4.165  11.17  -60.85        -4  Montastaea faveolata
1       1989   -4.34  11.17  -60.85        -4  Montastaea faveolata
2       1988 -4.1175  11.17  -60.85        -4  Montastaea faveolata
3       1987 -4.2375  11.17  -60.85        -4  Montastaea faveolata
4       1986 -4.4175  11.17  -60.85        -4  Montastaea faveolata
..       ...     ...    ...     ...       ...                   ...
848  1219.79   -4.56   5.87 -162.13                  Porites lutea
849  1219.88   -4.56   5.87 -162.13                  Porites lutea
850  1219.96   -4.61   5.87 -162.13                  Porites lutea
851  1220.04   -4.51   5.87 -162.13                  Porites lutea
852  1220.13   -4.47   5.87 -162.13                  Porites lutea

[54250 rows x 6 columns]

In [115]:
all_coral_df

Empty DataFrame
Columns: [age, d18O, lat, lon, elevation, species]
Index: []

In [62]:
coral_file = 'swart1998-st-1_noaa.txt'
# Example of file with -noaa extension
file1 = open(coral_file,'r')
print(file1.read())
file1.close()

﻿# Gulf of Guinea Coral Isotope, Luminescence and Density Data
#-----------------------------------------------------------------------
#                World Data Center for Paleoclimatology, Boulder
#                                  and
#                     NOAA Paleoclimatology Program
#-----------------------------------------------------------------------
# NOTE: Please cite Publication, and Online_Resource and date accessed when using these data.
# If there is no publication information, please cite Investigators, Title, and Online_Resource and date accessed.
#
# Online_Resource: https://www.ncdc.noaa.gov/study/1913
#
# Original_Source_URL: http://www1.ncdc.noaa.gov/pub/data/paleo/coral/atlantic/saotome1998.txt
#
# Description/Documentation lines begin with #
# Data lines have no #
#
# Archive: Corals and Sclerosponges
#--------------------
# Contribution_Date
#	Date: 2005-02-01
#--------------------
# Title
#	Study_Name: Ponta Banana, Principe, Sao Tome - Isotope, Luminescence and Density Data
#--------------------
# Investigators
#       Investigators: Swart, P.K.; White, K.S.; Enfield, D.; Dodge, R.E.; Milne, P.
#--------------------
# Description_and_Notes
#	Description: Corals from the Gulf of Guinea - Sao Tome and Principe Collected in 1993 by the University of Miami, RSMAS. Analyzed at the University of Miami, RSMAS, Stable Isotope Lab Sampled sub-annually; reported as annual averages
#--------------------
# Publication
#       Authors: Swart, P.K.; White, K.S.; Enfield, D.; Dodge, R.E.; Milne, P.
#       Published_Date_or_Year: 1998
#       Published_Title: Stable oxygen isotopic composition of corals from the Gulf of Guinea as indicators of periods of extreme precipitation conditions in the sub-Sahara.
#       Journal_Name: Journal of Geophysical Research
#       Volume: 103
#       Edition: C12
#       Issue:
#       Pages: 27,885
#       DOI:
#       Online_Resource:
#       Full_Citation: Swart, P.K., K.S. White, D. Enfield, R.E. Dodge, and P. Milne. 1998. Stable oxygen isotopic composition of corals from the Gulf of Guinea as indicators of periods of extreme precipitation conditions in the sub-Sahara. Journal of Geophysical Research 103(C12):27,885.
#       Abstract:
#------------------
# Funding_Agency
#       Funding_Agency_Name:
#       Grant:
#------------------
# Site_Information
#       Site_Name: Ponta Banana, Principe, Sao Tome And Principe
#       Location: Ocean>Atlantic Ocean>South Atlantic Ocean>Sao Tome And Principe
#	Country: Sao Tome And Principe
#	Northernmost_Latitude: 0.47
# 	Southernmost_Latitude: 0.47
# 	Easternmost_Longitude: 6.58
# 	Westernmost_Longitude: 6.58
# 	Elevation: -4 m
#------------------
# Data_Collection
#	Collection_Name: 98saot02a
#	Earliest_Year: 1975
#	Most_Recent_Year: 1993
#	Time_Unit: AD
#	Core_Length:
#	Notes: Coral ST-1 collected August 1993.
#------------------
# Species
#	Species_Name: Siderastrea spp.
#	Common_Name:
#------------------
# Chronology_Information
#	Chronology:
#
#----------------
# Variables
#
# Data variables follow that are preceded by "##" in columns one and two.
# Data line variables format:  Variables list, one per line, shortname-tab-longname-tab-longname components (9 components: what, material, error, units, seasonality, archive, detail, method, C or N for Character or Numeric data)
#
##age	age, , ,years AD, , , ,N
##d18O	delta 18O, Siderastrea spp., , permil VPDB, , Corals and Sclerosponges, , ,N
##d13C	delta 13C, Siderastrea spp., , permil VPDB, , Corals and Sclerosponges, , ,N
##lumin	Luminescence, Siderastrea spp., , relative units, , Corals and Sclerosponges, , ,N
##dens	density, Siderastrea spp., , g/cm3, , Corals and Sclerosponges, , ,N
#
#----------------
# Data:
# Data lines follow (have no #)
# Data line format - tab-delimited text, variable short name as header
# Missing Values: NAN
#
age	d18O	d13C	lumin	dens
1975	NAN	NAN	-13.274	NAN
1976	NAN	NAN	1.392	1.664
1977	-3.60	-1.05	4.481	1.646
1978	-3.48	-1.17	5.966	1.645
1979	-3.59	-1.07	7.250	1.686
1980	-3.69	-1.03	15.983	1.590
1981	-3.50	-0.87	5.236	1.712
1982	-3.52	-1.15	10.030	1.675
1983	-3.66	-1.23	13.752	1.560
1984	-3.85	-0.89	9.509	1.472
1985	-3.81	-1.10	5.770	1.483
1986	-3.51	-1.01	6.514	1.744
1987	-3.48	-1.12	-1.673	1.712
1988	-3.27	-0.99	0.708	1.672
1989	-3.80	-1.39	2.578	1.628
1990	-3.68	-1.34	0.703	1.727
1991	-3.28	-1.31	6.420	1.716
1992	-3.63	-1.04	9.449	1.687
1993	-3.51	-1.30	NAN	NAN

Gather metadata info! (site lat/lon & years of study)

In [58]:
file1 = open(coral_file,'r')
file_in = file1.readlines()

for line in file_in:
    if "Location:" in line:
        location = line.split(": ")[1]
    if "Northernmost_Latitude:" in line:
        northernmost_lat = line.split(": ")[1]
    if "Southernmost_Latitude:" in line:
        southernmost_lat = line.split(": ")[1]
    if "Easternmost_Longitude:" in line:
        easternmost_lat = line.split(": ")[1]
    if "Westernmost_Longitude:" in line:
        westernmost_lat = line.split(": ")[1]
    if "Elevation:" in line:
        elevation = line.split(": ")[1].split(' ')[0]
    if "Earliest_Year:" in line:
        earliest_year = line.split(": ")[1]
    if "Most_Recent_Year:" in line:
        most_recent_year = line.split(": ")[1]
    if "Species_Name:" in line:
        species = line.split(": ")[1].strip('\n')

lat = (float(northernmost_lat) + float(southernmost_lat)) / 2
lon = (float(easternmost_lat) + float(westernmost_lat)) / 2

In [49]:
age_line = 0
file1 = open(coral_file,'r')
with file1 as f:
    lines = f.readlines()
    for i in range(len(lines)):
        if lines[i].startswith('age'):
            print(i)
            age_line = i
            break
    extracted = ' '.join(lines[age_line:])
    print(extracted)

91
age	d18O	d13C	lumin	dens
 1975	NAN	NAN	-13.274	NAN
 1976	NAN	NAN	1.392	1.664
 1977	-3.60	-1.05	4.481	1.646
 1978	-3.48	-1.17	5.966	1.645
 1979	-3.59	-1.07	7.250	1.686
 1980	-3.69	-1.03	15.983	1.590
 1981	-3.50	-0.87	5.236	1.712
 1982	-3.52	-1.15	10.030	1.675
 1983	-3.66	-1.23	13.752	1.560
 1984	-3.85	-0.89	9.509	1.472
 1985	-3.81	-1.10	5.770	1.483
 1986	-3.51	-1.01	6.514	1.744
 1987	-3.48	-1.12	-1.673	1.712
 1988	-3.27	-0.99	0.708	1.672
 1989	-3.80	-1.39	2.578	1.628
 1990	-3.68	-1.34	0.703	1.727
 1991	-3.28	-1.31	6.420	1.716
 1992	-3.63	-1.04	9.449	1.687
 1993	-3.51	-1.30	NAN	NAN

In [54]:
data = io.StringIO(extracted)
df_test = pd.read_csv(data, sep="\t")
df_test.head()

    age   d18O   d13C    lumin   dens
0  1975    NAN    NAN  -13.274    NAN
1  1976    NAN    NAN    1.392  1.664
2  1977  -3.60  -1.05    4.481  1.646
3  1978  -3.48  -1.17    5.966  1.645
4  1979  -3.59  -1.07    7.250  1.686

Just grab `age` and `d18O` columns! And remove NAN values.

In [59]:
df_test_d18O = df_test[['age', 'd18O']]
df_test_d18O = df_test_d18O[df_test_d18O['d18O'] != 'NAN']
df_test_d18O['lat'] = lat
df_test_d18O['lon'] = lon
df_test_d18O['elevation'] = elevation
df_test_d18O['species'] = species
df_test_d18O

     age   d18O   lat   lon elevation            species
2   1977  -3.60  0.47  6.58        -4  Siderastrea spp.
3   1978  -3.48  0.47  6.58        -4  Siderastrea spp.
4   1979  -3.59  0.47  6.58        -4  Siderastrea spp.
5   1980  -3.69  0.47  6.58        -4  Siderastrea spp.
6   1981  -3.50  0.47  6.58        -4  Siderastrea spp.
7   1982  -3.52  0.47  6.58        -4  Siderastrea spp.
8   1983  -3.66  0.47  6.58        -4  Siderastrea spp.
9   1984  -3.85  0.47  6.58        -4  Siderastrea spp.
10  1985  -3.81  0.47  6.58        -4  Siderastrea spp.
11  1986  -3.51  0.47  6.58        -4  Siderastrea spp.
12  1987  -3.48  0.47  6.58        -4  Siderastrea spp.
13  1988  -3.27  0.47  6.58        -4  Siderastrea spp.
14  1989  -3.80  0.47  6.58        -4  Siderastrea spp.
15  1990  -3.68  0.47  6.58        -4  Siderastrea spp.
16  1991  -3.28  0.47  6.58        -4  Siderastrea spp.
17  1992  -3.63  0.47  6.58        -4  Siderastrea spp.
18  1993  -3.51  0.47  6.58        -4  Siderastrea spp.