In [12]:
import os
import pandas as pd
import io
import unicodedata

In [21]:
root_files = os.listdir('coral_and_sponges_all/data/pub/data/paleo/coral/')
#root_files = root_files[0:3] + root_files[4:6] + root_files[9:12]
sub_files_to_flatten = [[f'{r}/{f}' for f in os.listdir(f'coral_and_sponges_all/data/pub/data/paleo/coral/{r}')] for r in root_files]
#Flatten list of files into one list
sub_files = [f'coral_and_sponges_all/data/pub/data/paleo/coral/{item}' for sublist in sub_files_to_flatten for item in sublist]

In [22]:
len(sub_files)

195

In [54]:
def create_coral_file_df(filename):
    try:
        coral_file = open(filename,'r')
        file_in = coral_file.readlines()

        for i in range(len(file_in)):
            line = file_in[i]
            if "Location:" in line:
                location = line.split(": ")[1]
            if "Northernmost_Latitude:" in line:
                northernmost_lat = line.split(": ")[1]
            if "Southernmost_Latitude:" in line:
                southernmost_lat = line.split(": ")[1]
            if "Easternmost_Longitude:" in line:
                easternmost_lat = line.split(": ")[1]
            if "Westernmost_Longitude:" in line:
                westernmost_lat = line.split(": ")[1]
            if "Elevation:" in line:
                elevation = line.split(": ")[1].split(' ')[0]
            if "Earliest_Year:" in line:
                earliest_year = line.split(": ")[1]
            if "Most_Recent_Year:" in line:
                most_recent_year = line.split(": ")[1]
            if "Species_Name:" in line:
                species = line.split(": ")[1].strip('\n')
            if not line.startswith('#'):
                #print(line)
                age_line = i
                extracted = ' '.join(file_in[age_line:])
                print(extracted)

        try:
            lat = (float(northernmost_lat) + float(southernmost_lat)) / 2
            lon = (float(easternmost_lat) + float(westernmost_lat)) / 2

            data = io.StringIO(extracted)
            df = pd.read_csv(data, sep="\t", error_bad_lines=False)
            if not 'age' in df:
                df[['age']] = df[['time']]
                print(df[['age']])
                
            df = df[['age', 'd18O']]
            df = df[df['d18O'] != 'NAN']
            df['lat'] = lat
            df['lon'] = lon
            df['elevation'] = elevation
            df['species'] = species
            return(df)

        except Exception as e:
            print("ERROR : "+str(e))
            # print("Error on line {}".format(sys.exc_info()[-1].tb_lineno))
            # print('hi')
    except Exception as e:
            print("ERROR : "+str(e))

Quick Proof of Concept for the function above:

In [55]:
#all_coral_df.to_csv('all_coral.csv')

In [56]:
#filename = 'coral_and_sponges_all/atlantic/barbados_coral18o.txt'
#"coral_and_sponges_all/atlantic/goodkin2008-sst_noaa.txt"
#'swart1998-st-1_noaa.txt'

#create_coral_file_df(filename)

In [57]:
all_coral_df = pd.DataFrame(columns=['age', 'd18O', 'lat', 'lon', 'elevation', 'species'])
for file in sub_files:
    print(file)
    coral_df = create_coral_file_df(file)
    all_coral_df = pd.concat([all_coral_df, coral_df])

all_coral_df.reset_index
all_coral_df

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

1218.79	-4.46
 1218.88	-4.43
 1218.96	-4.43
 1219.04	-4.40
 1219.13	-4.40
 1219.21	-4.44
 1219.29	-4.44
 1219.38	-4.43
 1219.46	-4.48
 1219.54	-4.52
 1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1218.88	-4.43
 1218.96	-4.43
 1219.04	-4.40
 1219.13	-4.40
 1219.21	-4.44
 1219.29	-4.44
 1219.38	-4.43
 1219.46	-4.48
 1219.54	-4.52
 1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1218.96	-4.43
 1219.04	-4.40
 1219.13	-4.40
 1219.21	-4.44
 1219.29	-4.44
 1219.38	-4.43
 1219.46	-4.48
 1219.54	-4.52
 1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.04	-4.40
 1219.13	-4.40
 1219.21	-4.44
 1219.29	-4.44
 1219.38	-4.43
 1219.46	-4.48
 1219.54	-4.52
 1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.13	-4.40
 1219.21	-4.44
 1219.29	-4.44
 1219.38	-4.43
 1219.46	-4.48
 1219.54	-4.52
 1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.21	-4.44
 1219.29	-4.44
 1219.38	-4.43
 1219.46	-4.48
 1219.54	-4.52
 1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.29	-4.44
 1219.38	-4.43
 1219.46	-4.48
 1219.54	-4.52
 1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.38	-4.43
 1219.46	-4.48
 1219.54	-4.52
 1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.46	-4.48
 1219.54	-4.52
 1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.54	-4.52
 1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.63	-4.55
 1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.71	-4.56
 1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.79	-4.56
 1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.88	-4.56
 1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1219.96	-4.61
 1220.04	-4.51
 1220.13	-4.47

1220.04	-4.51
 1220.13	-4.47

1220.13	-4.47

ERROR : "None of [Index(['time'], dtype='object')] are in the [columns]"
coral_and_sponges_all/data/pub/data/paleo/coral/east_pacific/cobb2013-xmas-mod_noaa.txt
﻿﻿# Line Islands Modern and Fossil Coral d18O Data
 #-----------------------------------------------------------------------
 #                World Data Center for Paleoclimatology, Boulder
 #                                  and
 #                     NOAA Paleoclimatology Program
 #-----------------------------------------------------------------------
 # NOTE: Please cite Publication, and Online_Resource and date accessed when using these data.
 # If there is no publication information, please cite Investigators, Title, and Online_Resource and date accessed.
 #
 # Online_Resource: https://www.ncdc.noaa.gov/study/13672
 #
 # Original_Source_URL: http://www1.ncdc.noaa.gov/pub/data/paleo/coral/east_pacific/line-islands2013.txt
 #
 # Description/Documentation lines begin with #
 # Data lines have no #
 #
 # Archive: Corals and Sclerosponges
 #--------------------
 # Contribution_Date
 #	Date: 2013-01-01
 #--------------------
 # Title
 #	Study_Name: Line Islands Modern and Fossil Coral d18O Data
 #--------------------
 # Investigators
 #       Investigators: Cobb, K.M.; Westphal, N.; Sayani, H.R.; Watson, J.T.; Di Lorenzo, E.; Cheng, H.; Edwards, R.L.; Charles, C.D.
 #--------------------
 # Description_and_Notes
 #	Description:
 #--------------------
 # Publication
 #       Authors: Cobb, K.M.; Westphal, N.; Sayani, H.R.; Watson, J.T.; Di Lorenzo, E.; Cheng, H.; Edwards, R.L.; Charles, C.D.
 #       Published_Date_or_Year: 2013-01-04
 #       Published_Title: Highly Variable El Ni�o-Southern Oscillation Throughout the Holocene
 #       Journal_Name: Science
 #       Volume: 339
 #       Edition:
 #       Issue: 6115
 #       Pages: 67-70
 #       DOI: 10.1126/science.1228246
 #       Online_Resource:
 #       Full_Citation: Cobb, K.M., N. Westphal, H.R. Sayani, J.T. Watson, E. Di Lorenzo, H. Cheng, R. L. Edwards, and C.D. Charles. 2013. Highly Variable El Niño-Southern Oscillation Throughout the Holocene. Science, Vol. 339, no. 6115, pp. 67-70, 4 January 2013. DOI: 10.1126/science.1228246
 #       Abstract: The El Ni�o-Southern Oscillation (ENSO) drives large changes in global  climate patterns from year to year, yet its sensitivity to continued  anthropogenic greenhouse forcing is uncertain. We analyzed fossil coral  reconstructions of ENSO spanning the past 7000 years from the Northern  Line Islands, located in the center of action for ENSO. The corals  document highly variable ENSO activity, with no evidence for a systematic  trend in ENSO variance, which is contrary to some models that exhibit  a response to insolation forcing over this same period. Twentieth-century  ENSO variance is significantly higher than average fossil coral ENSO  variance but is not unprecedented. Our results suggest that forced changes  in ENSO, whether natural or anthropogenic, may be difficult to detect  against a background of large internal variability.
 #--------------------
 # Publication
 #       Authors: Zaunbracher, L.K.; Cobb, K.M.; Beck, J.W.; Charles, C.D.; Druffel, E.R.M.
 #       Published_Date_or_Year: 2010
 #       Published_Title: Coral records of central tropical Pacific radiocarbon variability  during the last millennium
 #       Journal_Name: Paleoceanography
 #       Volume: 25
 #       Edition:
 #       Issue: PA4212
 #       Pages:
 #       DOI: 10.1029/2009PA001788
 #       Online_Resource:
 #       Full_Citation: Zaunbrecher, L.K., K.M. Cobb, J.W. Beck, C.D. Charles, E.R.M. Druffel,  R.G. Fairbanks, S. Griffin, and H. Sayani.   2010.  Coral records of central tropical Pacific radiocarbon variability  during the last millennium.  Paleoceanography 25, PA4212, doi:10.1029/2009PA001788.
 #       Abstract:
 #------------------
 # Funding_Agency
 #       Funding_Agency_Name: US National Science Foundation (NSF) Division of Ocean Sciences
 #       Grant: 0752091
 #------------------
 # Funding_Agency
 #       Funding_Agency_Name: National Natural Science Foundation of China
 #       Grant: 41230524
 #------------------
 # Funding_Agency
 #       Funding_Agency_Name: US National Science Foundation (NSF) Division of Atmospheric Sciences
 #       Grant: 1103403
 #------------------
 # Funding_Agency
 #       Funding_Agency_Name: US Department of Energy (DOE)
 #       Grant: DOE-SC0005597
 #------------------
 # Site_Information
 #       Site_Name: Kiritimati Island, Line Islands, Kiribati
 #       Location: Ocean>Pacific Ocean>Central Pacific Ocean>Kiribati
 #	Country: Republic of Kiribati
 #	Northernmost_Latitude: 1.867
 # 	Southernmost_Latitude: 1.867
 # 	Easternmost_Longitude: -157.4
 # 	Westernmost_Longitude: -157.4
 # 	Elevation:
 #------------------
 # Data_Collection
 #	Collection_Name: 13kiri02a
 #	Earliest_Year: 1938
 #	Most_Recent_Year: 2007
 #	Time_Unit: AD
 #	Core_Length:
 #	Notes: Christmas Modern splice
 #------------------
 # Species
 #	Species_Name:  Porites sp.
 #	Common_Name:
 #------------------
 # Chronology_Information
 #	Chronology:
 #
 #----------------
 # Variables
 #
 # Data variables follow that are preceded by "##" in columns one and two.
 # Data line variables format:  Variables list, one per line, shortname-tab-longname-tab-longname components (9 components: what, material, error, units, seasonality, archive, detail, method, C or N for Character or Numeric data)
 #
 ##age	age, , ,years AD, , , , ,N
 ##d18O	delta 18O, Porites sp. , , permil VPDB, , Corals and Sclerosponges, , ,N
 #
 #----------------
 # Data:
 # Data lines follow (have no #)
 # Data line format - tab-delimited text, variable short name as header
 # Missing Values: NAN
 #
 age	d18O
 1938.29	-4.37
 1938.38	-4.45
 1938.46	-4.44
 1938.54	-4.70
 1938.63	-4.63
 1938.71	-4.74
 1938.79	-4.70
 1938.88	-4.64
 1938.96	-4.90
 1939.04	-4.79
 1939.13	-4.78
 1939.21	-4.90
 1939.29	-4.83
 1939.38	-4.84
 1939.46	-4.86
 1939.54	-4.75
 1939.63	-4.79
 1939.71	-4.70
 1939.79	-4.89
 1939.88	-4.93
 1939.96	-4.90
 1940.04	-4.90
 1940.13	-5.05
 1940.21	-5.00
 1940.29	-4.99
 1940.38	-4.97
 1940.46	-5.07
 1940.54	-5.13
 1940.63	-5.12
 1940.71	-5.13
 1940.79	-5.13
 1940.88	-5.24
 1940.96	-5.26
 1941.04	-5.33
 1941.13	-5.15
 1941.21	-5.10
 1941.29	-4.91
 1941.38	-4.95
 1941.46	-4.96
 1941.54	-5.06
 1941.63	-5.14
 1941.71	-5.02
 1941.79	-5.06
 1941.88	-5.07
 1941.96	-5.05
 1942.04	-4.87
 1942.13	-4.76
 1942.21	-4.86
 1942.29	-4.56
 1942.38	-4.87
 1942.46	-4.77
 1942.54	-4.63
 1942.63	-4.60
 1942.71	-4.49
 1942.79	-4.57
 1942.88	-4.38
 1942.96	-4.34
 1943.04	-4.33
 1943.13	-4.54
 1943.21	-4.64
 1943.29	-4.49
 1943.38	-4.66
 1943.46	-4.83
 1943.54	-4.79
 1943.63	-4.76
 1943.71	-4.52
 1943.79	-4.51
 1943.88	-4.49
 1943.96	-4.52
 1944.04	-4.59
 1944.13	-4.69
 1944.21	-4.57
 1944.29	-4.62
 1944.38	-4.84
 1944.46	-4.77
 1944.54	-4.64
 1944.63	-4.60
 1944.71	-4.54
 1944.79	-4.47
 1944.88	-4.49
 1944.96	-4.39
 1945.04	-4.43
 1945.13	-4.47
 1945.21	-4.45
 1945.29	-4.31
 1945.38	-4.59
 1945.46	-4.52
 1945.54	-4.55
 1945.63	-4.62
 1945.71	-4.42
 1945.79	-4.38
 1945.88	-4.39
 1945.96	-4.45
 1946.04	-4.42
 1946.13	-4.57
 1946.21	-4.50
 1946.29	-4.36
 1946.38	-4.73
 1946.46	-4.66
 1946.54	-4.70
 1946.63	-4.71
 1946.71	-4.72
 1946.79	-4.68
 1946.88	-4.54
 1946.96	-4.50
 1947.04	-4.59
 1947.13	-4.72
 1947.21	-3.84
 1947.29	-4.28
 1947.38	-4.63
 1947.46	-4.53
 1947.54	-4.42
 1947.63	-4.35
 1947.71	-4.53
 1947.79	-4.42
 1947.88	-4.32
 1947.96	-4.51
 1948.04	-4.45
 1948.13	-4.54
 1948.21	-4.39
 1948.29	-4.39
 1948.38	-4.80
 1948.46	-4.79
 1948.54	-4.54
 1948.63	-4.46
 1948.71	-4.44
 1948.79	-4.49
 1948.88	-4.66
 1948.96	-4.44
 1949.04	-4.34
 1949.13	-4.48
 1949.21	-4.50
 1949.29	-4.45
 1949.38	-4.46
 1949.46	-4.47
 1949.54	-4.47
 1949.63	-4.42
 1949.71	-4.35
 1949.79	-4.13
 1949.88	-4.13
 1949.96	-4.11
 1950.04	-4.21
 1950.13	-4.34
 1950.21	-4.06
 1950.29	-4.15
 1950.38	-4.43
 1950.46	-4.42
 1950.54	-4.54
 1950.63	-4.42
 1950.71	-4.51
 1950.79	-4.24
 1950.88	-4.34
 1950.96	-4.41
 1951.04	-4.55
 1951.13	-4.37
 1951.21	-4.16
 1951.29	-4.40
 1951.38	-4.88
 1951.46	-4.81
 1951.54	-4.80
 1951.63	-4.77
 1951.71	-4.71
 1951.79	-4.37
 1951.88	-4.64
 1951.96	-4.66
 1952.04	-4.46
 1952.13	-4.67
 1952.21	-4.70
 1952.29	-4.58
 1952.38	-4.52
 1952.46	-4.66
 1952.54	-4.61
 1952.63	-4.62
 1952.71	-4.48
 1952.79	-4.42
 1952.88	-4.45
 1952.96	-4.50
 1953.04	-4.53
 1953.13	-4.58
 1953.21	-4.42
 1953.29	-4.34
 1953.38	-4.74
 1953.46	-4.67
 1953.54	-4.75
 1953.63	-4.63
 1953.71	-4.62
 1953.79	-4.50
 1953.88	-4.58
 1953.96	-4.47
 1954.04	-4.53
 1954.13	-4.57
 1954.21	-4.47
 1954.29	-4.61
 1954.38	-4.56
 1954.46	-4.45
 1954.54	-4.52
 1954.63	-4.44
 1954.71	-4.46
 1954.79	-4.29
 1954.88	-4.29
 1954.96	-4.28
 1955.04	-4.42
 1955.13	-4.40
 1955.21	-4.37
 1955.29	-4.34
 1955.38	-4.53
 1955.46	-4.49
 1955.54	-4.47
 1955.63	-4.34
 1955.71	-4.24
 1955.79	-4.27
 1955.88	-4.33
 1955.96	-4.46
 1956.04	-4.50
 1956.13	-4.45
 1956.21	-4.59
 1956.29	-4.71
 1956.38	-4.79
 1956.46	-4.74
 1956.54	-4.73
 1956.63	-4.67
 1956.71	-4.62
 1956.79	-4.52
 1956.88	-4.50
 1956.96	-4.49
 1957.04	-4.60
 1957.13	-4.61
 1957.21	-4.50
 1957.29	-4.17
 1957.38	-4.70
 1957.46	-4.61
 1957.54	-4.66
 1957.63	-4.78
 1957.71	-4.76
 1957.79	-4.90
 1957.88	-4.86
 1957.96	-4.82
 1958.04	-4.81
 1958.13	-4.70
 1958.21	-4.76
 1958.29	-4.69
 1958.38	-4.66
 1958.46	-4.60
 1958.54	-4.66
 1958.63	-4.68
 1958.71	-4.62
 1958.79	-4.62
 1958.88	-4.65
 1958.96	-4.53
 1959.04	-4.59
 1959.13	-4.72
 1959.21	-4.43
 1959.29	-4.32
 1959.38	-4.56
 1959.46	-4.76
 1959.54	-4.71
 1959.63	-4.83
 1959.71	-4.69
 1959.79	-4.63
 1959.88	-4.51
 1959.96	-4.50
 1960.04	-4.42
 1960.13	-4.51
 1960.21	-4.19
 1960.29	-4.03
 1960.38	-4.56
 1960.46	-4.60
 1960.54	-4.57
 1960.63	-4.58
 1960.71	-4.51
 1960.79	-4.48
 1960.88	-4.49
 1960.96	-4.44
 1961.04	-4.56
 1961.13	-4.54
 1961.21	-4.11
 1961.29	-4.23
 1961.38	-4.57
 1961.46	-4.55
 1961.54	-4.49
 1961.63	-4.57
 1961.71	-4.53
 1961.79	-4.39
 1961.88	-4.39
 1961.96	-4.47
 1962.04	-4.64
 1962.13	-4.51
 1962.21	-4.46
 1962.29	-4.45
 1962.38	-4.57
 1962.46	-4.69
 1962.54	-4.54
 1962.63	-4.43
 1962.71	-4.42
 1962.79	-4.50
 1962.88	-4.49
 1962.96	-4.42
 1963.04	-4.51
 1963.13	-4.52
 1963.21	-4.42
 1963.29	-4.05
 1963.38	-4.50
 1963.46	-4.76
 1963.54	-4.76
 1963.63	-4.72
 1963.71	-4.78
 1963.79	-4.73
 1963.88	-4.74
 1963.96	-4.64
 1964.04	-4.59
 1964.13	-4.55
 1964.21	-4.59
 1964.29	-4.60
 1964.38	-4.55
 1964.46	-4.49
 1964.54	-4.52
 1964.63	-4.47
 1964.71	-4.37
 1964.79	-4.31
 1964.88	-4.32
 1964.96	-4.39
 1965.04	-4.30
 1965.13	-4.17
 1965.21	-4.13
 1965.29	-4.24
 1965.38	-4.63
 1965.46	-4.82
 1965.54	-4.89
 1965.63	-4.86
 1965.71	-4.80
 1965.79	-4.79
 1965.88	-4.61
 1965.96	-4.68
 1966.04	-4.53
 1966.13	-4.67
 1966.21	-4.50
 1966.29	-4.13
 1966.38	-4.46
 1966.46	-4.47
 1966.54	-4.41
 1966.63	-4.49
 1966.71	-4.46
 1966.79	-4.38
 1966.88	-4.25
 1966.96	-4.32
 1967.04	-4.34
 1967.13	-4.29
 1967.21	-4.06
 1967.29	-4.04
 1967.38	-4.43
 1967.46	-4.56
 1967.54	-4.56
 1967.63	-4.66
 1967.71	-4.61
 1967.79	-4.48
 1967.88	-4.40
 1967.96	-4.38
 1968.04	-4.41
 1968.13	-4.37
 1968.21	-4.11
 1968.29	-4.08
 1968.38	-4.43
 1968.46	-4.66
 1968.54	-4.69
 1968.63	-4.67
 1968.71	-4.70
 1968.79	-4.73
 1968.88	-4.80
 1968.96	-4.68
 1969.04	-4.73
 1969.13	-4.69
 1969.21	-4.65
 1969.29	-4.17
 1969.38	-4.57
 1969.46	-4.67
 1969.54	-4.69
 1969.63	-4.73
 1969.71	-4.69
 1969.79	-4.70
 1969.88	-4.68
 1969.96	-4.54
 1970.04	-4.69
 1970.13	-4.64
 1970.21	-4.59
 1970.29	-4.25
 1970.38	-4.55
 1970.46	-4.38
 1970.54	-4.38
 1970.63	-4.26
 1970.71	-4.28
 1970.79	-4.36
 1970.88	-4.21
 1970.96	-4.24
 1971.04	-4.29
 1971.13	-4.34
 1971.21	-4.11
 1971.29	-4.09
 1971.38	-4.43
 1971.46	-4.50
 1971.54	-4.57
 1971.63	-4.38
 1971.71	-4.44
 1971.79	-4.42
 1971.88	-4.49
 1971.96	-4.46
 1972.04	-4.45
 1972.13	-4.57
 1972.21	-4.44
 1972.29	-4.78
 1972.38	-4.69
 1972.46	-5.02
 1972.54	-5.11
 1972.63	-5.14
 1972.71	-5.09
 1972.79	-5.15
 1972.88	-5.36
 1972.96	-5.31
 1973.04	-4.93
 1973.13	-4.65
 1973.21	-4.83
 1973.29	-4.75
 1973.38	-4.68
 1973.46	-4.48
 1973.54	-4.32
 1973.63	-4.13
 1973.71	-3.92
 1973.79	-4.02
 1973.88	-4.00
 1973.96	-4.14
 1974.04	-4.26
 1974.13	-4.23
 1974.21	-4.13
 1974.29	-4.04
 1974.38	-4.55
 1974.46	-4.62
 1974.54	-4.66
 1974.63	-4.63
 1974.71	-4.57
 1974.79	-4.67
 1974.88	-4.60
 1974.96	-4.63
 1975.04	-4.57
 1975.13	-4.63
 1975.21	-4.59
 1975.29	-4.58
 1975.38	-4.53
 1975.46	-4.54
 1975.54	-4.53
 1975.63	-4.39
 1975.71	-4.33
 1975.79	-4.27
 1975.88	-4.36
 1975.96	-4.30
 1976.04	-4.32
 1976.13	-4.34
 1976.21	-4.34
 1976.29	-4.02
 1976.38	-4.46
 1976.46	-4.89
 1976.54	-4.84
 1976.63	-4.85
 1976.71	-4.88
 1976.79	-4.84
 1976.88	-4.82
 1976.96	-4.75
 1977.04	-4.70
 1977.13	-4.68
 1977.21	-4.43
 1977.29	-4.24
 1977.38	-4.68
 1977.46	-4.80
 1977.54	-4.83
 1977.63	-4.81
 1977.71	-4.88
 1977.79	-4.83
 1977.88	-4.73
 1977.96	-4.54
 1978.04	-4.63
 1978.13	-4.61
 1978.21	-4.25
 1978.29	-4.34
 1978.38	-4.48
 1978.46	-4.56
 1978.54	-4.65
 1978.63	-4.70
 1978.71	-4.66
 1978.79	-4.68
 1978.88	-4.61
 1978.96	-4.65
 1979.04	-4.64
 1979.13	-4.69
 1979.21	-4.64
 1979.29	-4.44
 1979.38	-4.65
 1979.46	-4.78
 1979.54	-4.75
 1979.63	-4.86
 1979.71	-4.82
 1979.79	-4.75
 1979.88	-4.72
 1979.96	-4.57
 1980.04	-4.52
 1980.13	-4.54
 1980.21	-4.52
 1980.29	-4.38
 1980.38	-4.92
 1980.46	-4.89
 1980.54	-4.77
 1980.63	-4.90
 1980.71	-4.83
 1980.79	-5.14
 1980.88	-4.72
 1980.96	-4.62
 1981.04	-4.61
 1981.13	-4.65
 1981.21	-4.60
 1981.29	-4.40
 1981.38	-4.70
 1981.46	-4.69
 1981.54	-4.68
 1981.63	-4.60
 1981.71	-4.67
 1981.79	-4.50
 1981.88	-4.65
 1981.96	-4.54
 1982.04	-4.46
 1982.13	-4.69
 1982.21	-4.83
 1982.29	-4.92
 1982.38	-5.04
 1982.46	-5.03
 1982.54	-4.95
 1982.63	-4.96
 1982.71	-5.16
 1982.79	-4.54
 1982.88	-4.92
 1982.96	-5.00
 1983.04	-4.99
 1983.13	-4.97
 1983.21	-5.05
 1983.29	-5.12
 1983.38	-4.74
 1983.46	-4.56
 1983.54	-4.57
 1983.63	-4.47
 1983.71	-4.40
 1983.79	-4.33
 1983.88	-4.39
 1983.96	-4.36
 1984.04	-4.17
 1984.13	-4.01
 1984.21	-4.18
 1984.29	-4.64
 1984.38	-4.79
 1984.46	-4.82
 1984.54	-4.78
 1984.63	-4.61
 1984.71	-4.60
 1984.79	-4.57
 1984.88	-4.57
 1984.96	-4.45
 1985.04	-4.39
 1985.13	-4.38
 1985.21	-4.45
 1985.29	-4.47
 1985.38	-4.17
 1985.46	-4.23
 1985.54	-4.65
 1985.63	-4.73
 1985.71	-4.71
 1985.79	-4.72
 1985.88	-4.75
 1985.96	-4.58
 1986.04	-4.50
 1986.13	-4.42
 1986.21	-4.40
 1986.29	-4.37
 1986.38	-4.09
 1986.46	-4.35
 1986.54	-4.75
 1986.63	-4.94
 1986.71	-5.06
 1986.79	-5.01
 1986.88	-4.91
 1986.96	-4.86
 1987.04	-4.83
 1987.13	-4.72
 1987.21	-4.86
 1987.29	-4.87
 1987.38	-5.08
 1987.46	-5.34
 1987.54	-5.28
 1987.63	-5.23
 1987.71	-5.09
 1987.79	-5.07
 1987.88	-4.92
 1987.96	-4.79
 1988.04	-4.72
 1988.13	-4.69
 1988.21	-4.70
 1988.29	-4.75
 1988.38	-4.65
 1988.46	-4.64
 1988.54	-4.64
 1988.63	-4.57
 1988.71	-4.44
 1988.79	-4.33
 1988.88	-4.18
 1988.96	-4.30
 1989.04	-4.19
 1989.13	-4.34
 1989.21	-4.45
 1989.29	-4.55
 1989.38	-4.66
 1989.46	-4.73
 1989.54	-4.77
 1989.63	-4.82
 1989.71	-4.82
 1989.79	-4.70
 1989.88	-4.76
 1989.96	-4.80
 1990.04	-4.79
 1990.13	-4.83
 1990.21	-4.94
 1990.29	-4.93
 1990.38	-4.98
 1990.46	-5.04
 1990.54	-5.00
 1990.63	-5.05
 1990.71	-5.12
 1990.79	-4.90
 1990.88	-4.92
 1990.96	-4.96
 1991.04	-4.88
 1991.13	-4.89
 1991.21	-5.00
 1991.29	-5.04
 1991.38	-5.12
 1991.46	-5.10
 1991.54	-5.01
 1991.63	-5.04
 1991.71	-5.00
 1991.79	-4.96
 1991.88	-4.86
 1991.96	-4.92
 1992.04	-5.12
 1992.13	-5.04
 1992.21	-5.03
 1992.29	-4.87
 1992.38	-4.99
 1992.46	-4.93
 1992.54	-4.74
 1992.63	-4.81
 1992.71	-4.74
 1992.79	-4.74
 1992.88	-4.74
 1992.96	-4.76
 1993.04	-4.82
 1993.13	-4.79
 1993.21	-4.68
 1993.29	-4.73
 1993.38	-4.86
 1993.46	-4.96
 1993.54	-5.00
 1993.63	-4.87
 1993.71	-4.78
 1993.79	-4.83
 1993.88	-4.81
 1993.96	-4.80
 1994.04	-4.73
 1994.13	-4.83
 1994.21	-4.88
 1994.29	-4.79
 1994.38	-4.90
 1994.46	-4.90
 1994.54	-4.98
 1994.63	-4.95
 1994.71	-4.91
 1994.79	-4.98
 1994.88	-5.08
 1994.96	-5.05
 1995.04	-4.92
 1995.13	-4.87
 1995.21	-4.84
 1995.29	-4.88
 1995.38	-4.92
 1995.46	-4.91
 1995.54	-4.91
 1995.63	-4.90
 1995.71	-4.81
 1995.79	-4.64
 1995.88	-4.66
 1995.96	-4.53
 1996.04	-4.51
 1996.13	-4.59
 1996.21	-4.66
 1996.29	-4.80
 1996.38	-4.86
 1996.46	-4.83
 1996.54	-4.79
 1996.63	-4.76
 1996.71	-4.74
 1996.79	-4.69
 1996.88	-4.70
 1996.96	-4.71
 1997.04	-4.72
 1997.13	-4.68
 1997.21	-4.73
 1997.29	-4.81
 1997.38	-5.09
 1997.46	-5.34
 1997.54	-5.20
 1997.63	-5.26
 1997.71	-5.23
 1997.79	-5.34
 1997.88	-5.46
 1997.96	-5.43
 1998.04	-5.36
 1998.13	-5.33
 1998.21	-5.12
 1998.29	-4.91
 1998.38	-4.97
 1998.46	-4.87
 1998.54	-4.76
 1998.63	-4.66
 1998.71	-4.56
 1998.79	-4.58
 1998.88	-4.60
 1998.96	-4.60
 1999.04	-4.60
 1999.13	-4.60
 1999.21	-4.62
 1999.29	-4.72
 1999.38	-4.65
 1999.46	-4.82
 1999.54	-4.69
 1999.63	-4.70
 1999.71	-4.61
 1999.79	-4.57
 1999.88	-4.61
 1999.96	-4.58
 2000.04	-4.54
 2000.13	-4.51
 2000.21	-4.63
 2000.29	-4.66
 2000.38	-4.67
 2000.46	-4.66
 2000.54	-4.71
 2000.63	-4.70
 2000.71	-4.71
 2000.79	-4.71
 2000.88	-4.74
 2000.96	-4.66
 2001.04	-4.67
 2001.13	-4.61
 2001.21	-4.68
 2001.29	-4.75
 2001.38	-4.83
 2001.46	-4.86
 2001.54	-4.88
 2001.63	-4.87
 2001.71	-4.88
 2001.79	-4.84
 2001.88	-4.79
 2001.96	-4.74
 2002.04	-4.73
 2002.13	-4.72
 2002.21	-4.87
 2002.29	-4.89
 2002.38	-4.93
 2002.46	-4.96
 2002.54	-5.00
 2002.63	-4.97
 2002.71	-5.00
 2002.79	-4.98
 2002.88	-5.03
 2002.96	-4.96
 2003.04	-4.91
 2003.13	-4.84
 2003.21	-4.87
 2003.29	-4.86
 2003.38	-4.85
 2003.46	-4.83
 2003.54	-4.84
 2003.63	-4.83
 2003.71	-4.84
 2003.79	-4.87
 2003.88	-4.86
 2003.96	-4.82
 2004.04	-4.76
 2004.13	-4.72
 2004.21	-4.80
 2004.29	-4.89
 2004.38	-4.88
 2004.46	-4.92
 2004.54	-4.97
 2004.63	-4.95
 2004.71	-5.00

Empty DataFrame
Columns: [age, d18O, lat, lon, elevation, species]
Index: []

In [58]:
all_coral_df

Empty DataFrame
Columns: [age, d18O, lat, lon, elevation, species]
Index: []

In [62]:
coral_file = 'swart1998-st-1_noaa.txt'
# Example of file with -noaa extension
file1 = open(coral_file,'r')
print(file1.read())
file1.close()

﻿# Gulf of Guinea Coral Isotope, Luminescence and Density Data
#-----------------------------------------------------------------------
#                World Data Center for Paleoclimatology, Boulder
#                                  and
#                     NOAA Paleoclimatology Program
#-----------------------------------------------------------------------
# NOTE: Please cite Publication, and Online_Resource and date accessed when using these data.
# If there is no publication information, please cite Investigators, Title, and Online_Resource and date accessed.
#
# Online_Resource: https://www.ncdc.noaa.gov/study/1913
#
# Original_Source_URL: http://www1.ncdc.noaa.gov/pub/data/paleo/coral/atlantic/saotome1998.txt
#
# Description/Documentation lines begin with #
# Data lines have no #
#
# Archive: Corals and Sclerosponges
#--------------------
# Contribution_Date
#	Date: 2005-02-01
#--------------------
# Title
#	Study_Name: Ponta Banana, Principe, Sao Tome - Isotope, Luminescence and Density Data
#--------------------
# Investigators
#       Investigators: Swart, P.K.; White, K.S.; Enfield, D.; Dodge, R.E.; Milne, P.
#--------------------
# Description_and_Notes
#	Description: Corals from the Gulf of Guinea - Sao Tome and Principe Collected in 1993 by the University of Miami, RSMAS. Analyzed at the University of Miami, RSMAS, Stable Isotope Lab Sampled sub-annually; reported as annual averages
#--------------------
# Publication
#       Authors: Swart, P.K.; White, K.S.; Enfield, D.; Dodge, R.E.; Milne, P.
#       Published_Date_or_Year: 1998
#       Published_Title: Stable oxygen isotopic composition of corals from the Gulf of Guinea as indicators of periods of extreme precipitation conditions in the sub-Sahara.
#       Journal_Name: Journal of Geophysical Research
#       Volume: 103
#       Edition: C12
#       Issue:
#       Pages: 27,885
#       DOI:
#       Online_Resource:
#       Full_Citation: Swart, P.K., K.S. White, D. Enfield, R.E. Dodge, and P. Milne. 1998. Stable oxygen isotopic composition of corals from the Gulf of Guinea as indicators of periods of extreme precipitation conditions in the sub-Sahara. Journal of Geophysical Research 103(C12):27,885.
#       Abstract:
#------------------
# Funding_Agency
#       Funding_Agency_Name:
#       Grant:
#------------------
# Site_Information
#       Site_Name: Ponta Banana, Principe, Sao Tome And Principe
#       Location: Ocean>Atlantic Ocean>South Atlantic Ocean>Sao Tome And Principe
#	Country: Sao Tome And Principe
#	Northernmost_Latitude: 0.47
# 	Southernmost_Latitude: 0.47
# 	Easternmost_Longitude: 6.58
# 	Westernmost_Longitude: 6.58
# 	Elevation: -4 m
#------------------
# Data_Collection
#	Collection_Name: 98saot02a
#	Earliest_Year: 1975
#	Most_Recent_Year: 1993
#	Time_Unit: AD
#	Core_Length:
#	Notes: Coral ST-1 collected August 1993.
#------------------
# Species
#	Species_Name: Siderastrea spp.
#	Common_Name:
#------------------
# Chronology_Information
#	Chronology:
#
#----------------
# Variables
#
# Data variables follow that are preceded by "##" in columns one and two.
# Data line variables format:  Variables list, one per line, shortname-tab-longname-tab-longname components (9 components: what, material, error, units, seasonality, archive, detail, method, C or N for Character or Numeric data)
#
##age	age, , ,years AD, , , ,N
##d18O	delta 18O, Siderastrea spp., , permil VPDB, , Corals and Sclerosponges, , ,N
##d13C	delta 13C, Siderastrea spp., , permil VPDB, , Corals and Sclerosponges, , ,N
##lumin	Luminescence, Siderastrea spp., , relative units, , Corals and Sclerosponges, , ,N
##dens	density, Siderastrea spp., , g/cm3, , Corals and Sclerosponges, , ,N
#
#----------------
# Data:
# Data lines follow (have no #)
# Data line format - tab-delimited text, variable short name as header
# Missing Values: NAN
#
age	d18O	d13C	lumin	dens
1975	NAN	NAN	-13.274	NAN
1976	NAN	NAN	1.392	1.664
1977	-3.60	-1.05	4.481	1.646
1978	-3.48	-1.17	5.966	1.645
1979	-3.59	-1.07	7.250	1.686
1980	-3.69	-1.03	15.983	1.590
1981	-3.50	-0.87	5.236	1.712
1982	-3.52	-1.15	10.030	1.675
1983	-3.66	-1.23	13.752	1.560
1984	-3.85	-0.89	9.509	1.472
1985	-3.81	-1.10	5.770	1.483
1986	-3.51	-1.01	6.514	1.744
1987	-3.48	-1.12	-1.673	1.712
1988	-3.27	-0.99	0.708	1.672
1989	-3.80	-1.39	2.578	1.628
1990	-3.68	-1.34	0.703	1.727
1991	-3.28	-1.31	6.420	1.716
1992	-3.63	-1.04	9.449	1.687
1993	-3.51	-1.30	NAN	NAN

Gather metadata info! (site lat/lon & years of study)

In [58]:
file1 = open(coral_file,'r')
file_in = file1.readlines()

for line in file_in:
    if "Location:" in line:
        location = line.split(": ")[1]
    if "Northernmost_Latitude:" in line:
        northernmost_lat = line.split(": ")[1]
    if "Southernmost_Latitude:" in line:
        southernmost_lat = line.split(": ")[1]
    if "Easternmost_Longitude:" in line:
        easternmost_lat = line.split(": ")[1]
    if "Westernmost_Longitude:" in line:
        westernmost_lat = line.split(": ")[1]
    if "Elevation:" in line:
        elevation = line.split(": ")[1].split(' ')[0]
    if "Earliest_Year:" in line:
        earliest_year = line.split(": ")[1]
    if "Most_Recent_Year:" in line:
        most_recent_year = line.split(": ")[1]
    if "Species_Name:" in line:
        species = line.split(": ")[1].strip('\n')

lat = (float(northernmost_lat) + float(southernmost_lat)) / 2
lon = (float(easternmost_lat) + float(westernmost_lat)) / 2

In [49]:
age_line = 0
file1 = open(coral_file,'r')
with file1 as f:
    lines = f.readlines()
    for i in range(len(lines)):
        if lines[i].startswith('age'):
            print(i)
            age_line = i
            break
    extracted = ' '.join(lines[age_line:])
    print(extracted)

91
age	d18O	d13C	lumin	dens
 1975	NAN	NAN	-13.274	NAN
 1976	NAN	NAN	1.392	1.664
 1977	-3.60	-1.05	4.481	1.646
 1978	-3.48	-1.17	5.966	1.645
 1979	-3.59	-1.07	7.250	1.686
 1980	-3.69	-1.03	15.983	1.590
 1981	-3.50	-0.87	5.236	1.712
 1982	-3.52	-1.15	10.030	1.675
 1983	-3.66	-1.23	13.752	1.560
 1984	-3.85	-0.89	9.509	1.472
 1985	-3.81	-1.10	5.770	1.483
 1986	-3.51	-1.01	6.514	1.744
 1987	-3.48	-1.12	-1.673	1.712
 1988	-3.27	-0.99	0.708	1.672
 1989	-3.80	-1.39	2.578	1.628
 1990	-3.68	-1.34	0.703	1.727
 1991	-3.28	-1.31	6.420	1.716
 1992	-3.63	-1.04	9.449	1.687
 1993	-3.51	-1.30	NAN	NAN

In [54]:
data = io.StringIO(extracted)
df_test = pd.read_csv(data, sep="\t")
df_test.head()

    age   d18O   d13C    lumin   dens
0  1975    NAN    NAN  -13.274    NAN
1  1976    NAN    NAN    1.392  1.664
2  1977  -3.60  -1.05    4.481  1.646
3  1978  -3.48  -1.17    5.966  1.645
4  1979  -3.59  -1.07    7.250  1.686

Just grab `age` and `d18O` columns! And remove NAN values.

In [59]:
df_test_d18O = df_test[['age', 'd18O']]
df_test_d18O = df_test_d18O[df_test_d18O['d18O'] != 'NAN']
df_test_d18O['lat'] = lat
df_test_d18O['lon'] = lon
df_test_d18O['elevation'] = elevation
df_test_d18O['species'] = species
df_test_d18O

     age   d18O   lat   lon elevation            species
2   1977  -3.60  0.47  6.58        -4  Siderastrea spp.
3   1978  -3.48  0.47  6.58        -4  Siderastrea spp.
4   1979  -3.59  0.47  6.58        -4  Siderastrea spp.
5   1980  -3.69  0.47  6.58        -4  Siderastrea spp.
6   1981  -3.50  0.47  6.58        -4  Siderastrea spp.
7   1982  -3.52  0.47  6.58        -4  Siderastrea spp.
8   1983  -3.66  0.47  6.58        -4  Siderastrea spp.
9   1984  -3.85  0.47  6.58        -4  Siderastrea spp.
10  1985  -3.81  0.47  6.58        -4  Siderastrea spp.
11  1986  -3.51  0.47  6.58        -4  Siderastrea spp.
12  1987  -3.48  0.47  6.58        -4  Siderastrea spp.
13  1988  -3.27  0.47  6.58        -4  Siderastrea spp.
14  1989  -3.80  0.47  6.58        -4  Siderastrea spp.
15  1990  -3.68  0.47  6.58        -4  Siderastrea spp.
16  1991  -3.28  0.47  6.58        -4  Siderastrea spp.
17  1992  -3.63  0.47  6.58        -4  Siderastrea spp.
18  1993  -3.51  0.47  6.58        -4  Siderastrea spp.