In [8]:
import os
import pandas as pd
import io
import unicodedata

root_dir = 'coral_and_sponges_all/data/pub/data/paleo/coral'

In [11]:
root_files = os.listdir(root_dir)
root_files = root_files[0:3] + root_files[4:6] + root_files[9:12]
sub_files_to_flatten = [[f'{r}/{f}' for f in os.listdir(f'{root_dir}/{r}')] for r in root_files]
#Flatten list of files into one list
sub_files = [f'{root_dir}/{item}' for sublist in sub_files_to_flatten for item in sublist]

In [12]:
len(sub_files)

139

In [2]:
def create_coral_file_df(filename):
    try:
        # Using a weird encoding to solve file read issue; see https://stackoverflow.com/questions/46000191/utf-8-codec-cant-decode-byte-0x92-in-position-18-invalid-start-byte
        coral_file = open(filename,'r', encoding="cp1252")
        file_in = coral_file.readlines()

        for i in range(len(file_in)):
            line = file_in[i]
            #print(line)
            if "Location:" in line:
                location = line.split(": ")[1].strip()
            if "Northernmost_Latitude:" in line:
                northernmost_lat = line.split(": ")[1].strip()
            if "Southernmost_Latitude:" in line:
                southernmost_lat = line.split(": ")[1].strip()
            if "Easternmost_Longitude:" in line:
                easternmost_lat = line.split(": ")[1].strip()
            if "Westernmost_Longitude:" in line:
                westernmost_lat = line.split(": ")[1].strip()
            if "Elevation:" in line:
                elevation = line.split(": ")[1].split(' ')[0].strip()
            if "Earliest_Year:" in line:
                earliest_year = line.split(": ")[1].strip()
            if "Most_Recent_Year:" in line:
                most_recent_year = line.split(": ")[1].strip()
            if "Species_Name:" in line:
                species = line.split(": ")[1].strip('\n').strip()
            if not line.startswith('#'):
                if line.startswith('ï»¿#'):
                    continue #this is the first line with special characters hidden
                elif len(line.strip()) == 0:
                    continue
                else:
                    age_line = i
                    extracted = ' '.join(file_in[age_line:])
                    break #exit the for loop, we have obtained the data!

        lat = (float(northernmost_lat) + float(southernmost_lat)) / 2
        lon = (float(easternmost_lat) + float(westernmost_lat)) / 2

        data = io.StringIO(extracted)
        df = pd.read_csv(data, sep="\t", error_bad_lines=False)

        df.columns = (map(lambda x: x.lower(), df.columns))

        # find the correct 'age' column
        if 'age' not in df.columns:
            if 'age_ad' in df.columns:
                df['age'] = df['age_ad']
            elif 'age_calad' in df.columns:
                df['age'] = df['age_ad']
            elif 'time' in df.columns:
                df['age'] = df['time']
            elif 'date' in df.columns:
                df['age'] = df['date']
            elif 'year' in df.columns:
                df['age'] = df['year']
            elif 'year_ce' in df.columns:
                df['age'] = df['year_ce']
            else:
                print("No 'age' column header detected.")

        #print(df['age'])

        #find the correct d18O column
        if 'd18o' not in df.columns:
            count = 0
            for col in df.columns:
                # we are assuming that the first col with d18O is the one we want
                if 'd18o' in col:
                    if 'recon' in col:
                        continue
                    df['d18o'] = df[col]
                    break
        
        #print(df['d18o'])

        df = df[['age', 'd18o']]
        df = df[df['d18o'] != 'NAN']

        # average the d18O values across the years
        df['year']  = df['age'].apply(lambda x: str(x).strip()[0:4])
        df = df.groupby(by="year")["d18o"].mean().reset_index('year')

        df['lat'] = lat
        df['lon'] = lon
        df['elevation'] = elevation
        
        try:
            species
            df['species'] = species
        except NameError:
            df['species'] = 'Other'

        return(df)

        # except Exception as e:
        #     print("exception2")
        #     print("ERROR : "+str(e))
        #     # print("Error on line {}".format(sys.exc_info()[-1].tb_lineno))
            # print('hi')
    except Exception as e:
        print("ERROR : "+str(e))

Quick Proof of Concept for the function above:

In [136]:
#filename = f'{root_dir}/atlantic/barbados_coral18o.txt'
# filename = f'{root_dir}/atlantic/goodkin2008-sst_noaa.txt'
# filename = f'{root_dir}/atlantic/smith2006-lk1.txt'
filename = f'{root_dir}/red_sea/felis2000_noaa.txt'
#'swart1998-st-1_noaa.txt'

create_coral_file_df(filename)

/var/folders/ws/d7dc4bz53q3_26hs2vbmg8600000gn/T/ipykernel_15832/2746504789.py:7: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  create_coral_file_df(filename)

     year      d18o    lat    lon elevation      species
0    1751 -3.210000  27.85  34.32        -6  Porites sp.
1    1752 -3.250000  27.85  34.32        -6  Porites sp.
2    1753 -3.236667  27.85  34.32        -6  Porites sp.
3    1754 -3.228333  27.85  34.32        -6  Porites sp.
4    1755 -2.990000  27.85  34.32        -6  Porites sp.
..    ...       ...    ...    ...       ...          ...
240  1991 -3.461667  27.85  34.32        -6  Porites sp.
241  1992 -3.421667  27.85  34.32        -6  Porites sp.
242  1993 -3.523333  27.85  34.32        -6  Porites sp.
243  1994 -3.588333  27.85  34.32        -6  Porites sp.
244  1995 -3.502500  27.85  34.32        -6  Porites sp.

[245 rows x 6 columns]

In [135]:
all_coral_df = pd.DataFrame(columns=['age', 'd18O', 'lat', 'lon', 'elevation', 'species'])
for file in sub_files:
    print(file)
    coral_df = create_coral_file_df(file)
    all_coral_df = pd.concat([all_coral_df, coral_df])

del all_coral_df['age']
del all_coral_df['d18O']

all_coral_df.reset_index
all_coral_df

coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/moses2006-side_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/goodkin2008-sst_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/kuhnert2002_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/moses2006_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/moses2006-fave_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/smith2006-lk1.txt
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/swart1999-fb-5_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/barbados_coral18o.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/swart1998-st-1_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/kuhnert2005-fixed.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/smith2006-lk23.txt
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/kuhnert2005.txt
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/kuhnert2002-inter_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/swart1998-p-2_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/swart1999-fb-45_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/bahamas-sclerosponge2005.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/swart1996-bour_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/goodkin2008-d18o_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/bahamas-sclerosponge-2002.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/moses2006-side-mon_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/atlantic/swart1996-fave_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/zinke2004_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/zinke2014-sr
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/zinke2014-sr'
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/damassa2006-new_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/kuhnert1999-bimonth_noaa.txt

/var/folders/ws/d7dc4bz53q3_26hs2vbmg8600000gn/T/ipykernel_15832/2806620867.py:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  coral_df = create_coral_file_df(file)

coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/kuhnert1999-depth_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/abram2008-d18o_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/taitaitanopo2015.txt
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/batu-hitam2015.txt
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/hennekam2018
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/hennekam2018'
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/zinke2009_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/zinke2008_noaa.txt
ERROR : Could not convert -4.650-4.865-4.883 to numeric
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/damassa2006-old_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/pirotan1998.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/gagan2015
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/gagan2015'
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/kuhnert2000-depth_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/pfeiffer2019
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/pfeiffer2019'
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/charles1997_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/cole2000_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/mayotte2008.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/nakamura2009_noaa.txt
ERROR : 'charmap' codec can't decode byte 0x81 in position 5749: character maps to <undefined>
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/zinke2012
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/zinke2012'
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/pfeiffer2004_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/seychelles2006.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/chagos2004.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/abram2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/abram2020'
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/kuhnert2000-bimonth_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/indian_ocean/port-blair2010.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/cibao2017iso2res.txt
No 'age' column header detected.
ERROR : "['age'] not in index"
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/kilbourne2008_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/hetzinger2010-mon_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/cibao2017iso2.txt
No 'age' column header detected.
ERROR : "['age'] not in index"
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/haase-schramm2003-ce96-d18o_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/cibao2017iso1.txt
No 'age' column header detected.
ERROR : "['age'] not in index"
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/carilli2013-smf-1.txt
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/hetzinger2008-mon_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/haase-schramm2003-pb19-d18o_noaa.txt
ERROR : Could not convert -0.41-0.29 to numeric
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/hetzinger2008-ann_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/carilli2013-cmf-4.txt
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/cibao2017iso1res.txt
No 'age' column header detected.
ERROR : "['age'] not in index"
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/la_parguera.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/von_reumont2018-ann.txt
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/carilli2013-hmf-1.txt
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/carilli2013-umf-6.txt
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/hetzinger2010-ann_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/caribbean/von_reumont2018-month.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x12-d2-5.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x12-d2-1.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x12-d1-4.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs21-38.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x12-d1-6.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs27-2.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs21-16.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs21-14.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs21-15.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs21-22.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs21-36.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x12-6.txt
No 'age' column header detected.
ERROR : "['age'] not in index"
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/tangri2018.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs21-51.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/thompson2015-tarawa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs22-8.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs21-45_2.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs21-40.txt
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x12-3.txt
No 'age' column header detected.
ERROR : "['age'] not in index"
coral_and_sponges_all/data/pub/data/paleo/coral/central_pacific/grothe2019-x13-fs21-45_1.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/nc_published_1992-1657_qtr.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/li2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/li2020'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/quinn1996_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/cole1993-mon_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/bagnato2005_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/palau2013uc.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/mohtar2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/mohtar2020'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/great_barrier
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/great_barrier'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/tasmaloum_2004.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/amedee2004.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/amedee2012.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/palau2013nl.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/charles2003-lom_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/guilderson1999-nauru1-long_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/gorman2012.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/felis2009-ann_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/gorman2012-rawdata.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/kilbourne2004_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/palau2013ngb.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/palau2002.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/palau2014uc.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/linsley2006
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/linsley2006'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/okinawa2006.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/marinduque2004.xls
ERROR : 'charmap' codec can't decode byte 0x8d in position 760: character maps to <undefined>
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/kikai2004.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/charles2003-bun_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/quinn2002_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/guilderson1999-nauru1-hires_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/guam2004.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/asami2005_noaa.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/cole1993-ldgo-39_noaa.txt
ERROR : Could not convert -5.05-5.056-4.743-4.697-4.844-5.24-5.062-4.826-4.899-4.812-5.168-4.723 to numeric
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/bagnato2004-lh_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/bagnato2004-4f1-lh_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/murty2017
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/murty2017'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/hon-tre2014.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/palau2013ri.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/cole1993-ldgo-44_noaa.txt
ERROR : Could not convert -4.769-4.573-4.685-4.211-4.37-4.805-4.812 to numeric
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/pohnpei2004.txt
ERROR : local variable 'northernmost_lat' referenced before assignment
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/bagnato2004-4f1_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/cahyarini2014
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/cahyarini2014'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/felis2009-mon_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/murty2018
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/murty2018'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/palau2014ri.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/druffel1993_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/papua_new_guinea
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/papua_new_guinea'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/ramos2017
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/ramos2017'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/reed2019
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/reed2019'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/ramos2019
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/ramos2019'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/tudhope1995_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/guilderson1999-nauru2_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/urban2000_noaa.txt
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/asami2020
ERROR : [Errno 21] Is a directory: 'coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/asami2020'
coral_and_sponges_all/data/pub/data/paleo/coral/west_pacific/bougainville_guyot2004.txt
ERROR : local variable 'northernmost_lat' referenced before assignment

       lat     lon elevation              species  year      d18o
0    16.77  -22.88        -3  Siderastrea radians  1928 -3.110000
1    16.77  -22.88        -3  Siderastrea radians  1929 -3.008333
2    16.77  -22.88        -3  Siderastrea radians  1930 -2.835000
3    16.77  -22.88        -3  Siderastrea radians  1931 -2.855833
4    16.77  -22.88        -3  Siderastrea radians  1932 -2.936667
..     ...     ...       ...                  ...   ...       ...
150   1.00  173.00        -6                       1990 -4.923150
151   1.00  173.00        -6                       1991 -5.083814
152   1.00  173.00        -6                       1992 -4.850820
153   1.00  173.00        -6                       1993 -4.899430
154   1.00  173.00        -6                       1994 -4.771384

[6138 rows x 6 columns]

In [109]:
all_coral_df.to_csv('all_coral.csv')

In [108]:
all_coral_df

       lat     lon elevation              species  year      d18o
0    16.77  -22.88        -3  Siderastrea radians  1928 -3.110000
1    16.77  -22.88        -3  Siderastrea radians  1929 -3.008333
2    16.77  -22.88        -3  Siderastrea radians  1930 -2.835000
3    16.77  -22.88        -3  Siderastrea radians  1931 -2.855833
4    16.77  -22.88        -3  Siderastrea radians  1932 -2.936667
..     ...     ...       ...                  ...   ...       ...
150   1.00  173.00        -6                       1990 -4.923150
151   1.00  173.00        -6                       1991 -5.083814
152   1.00  173.00        -6                       1992 -4.850820
153   1.00  173.00        -6                       1993 -4.899430
154   1.00  173.00        -6                       1994 -4.771384

[4546 rows x 6 columns]

In [ ]:
coral_file = 'swart1998-st-1_noaa.txt'
# Example of file with -noaa extension
file1 = open(coral_file,'r')
print(file1.read())
file1.close()

Gather metadata info! (site lat/lon & years of study)

In [ ]:
file1 = open(coral_file,'r')
file_in = file1.readlines()

for line in file_in:
    if "Location:" in line:
        location = line.split(": ")[1]
    if "Northernmost_Latitude:" in line:
        northernmost_lat = line.split(": ")[1]
    if "Southernmost_Latitude:" in line:
        southernmost_lat = line.split(": ")[1]
    if "Easternmost_Longitude:" in line:
        easternmost_lat = line.split(": ")[1]
    if "Westernmost_Longitude:" in line:
        westernmost_lat = line.split(": ")[1]
    if "Elevation:" in line:
        elevation = line.split(": ")[1].split(' ')[0]
    if "Earliest_Year:" in line:
        earliest_year = line.split(": ")[1]
    if "Most_Recent_Year:" in line:
        most_recent_year = line.split(": ")[1]
    if "Species_Name:" in line:
        species = line.split(": ")[1].strip('\n')

lat = (float(northernmost_lat) + float(southernmost_lat)) / 2
lon = (float(easternmost_lat) + float(westernmost_lat)) / 2

In [ ]:
age_line = 0
file1 = open(coral_file,'r')
with file1 as f:
    lines = f.readlines()
    for i in range(len(lines)):
        if lines[i].startswith('age'):
            print(i)
            age_line = i
            break
    extracted = ' '.join(lines[age_line:])
    print(extracted)

In [ ]:
data = io.StringIO(extracted)
df_test = pd.read_csv(data, sep="\t")
df_test.head()

Just grab `age` and `d18O` columns! And remove NAN values.

In [ ]:
df_test_d18O = df_test[['age', 'd18O']]
df_test_d18O = df_test_d18O[df_test_d18O['d18O'] != 'NAN']
df_test_d18O['lat'] = lat
df_test_d18O['lon'] = lon
df_test_d18O['elevation'] = elevation
df_test_d18O['species'] = species
df_test_d18O