In [1]:
import pandas as pd
import numpy as np

In [22]:
temp_df_pt1 = pd.read_csv('../actual_temperature_data/gridded_averages_1880-2021/NOAAGlobalTemp_v5a_1.csv')
temp_df_pt2 = pd.read_csv('../actual_temperature_data/gridded_averages_1880-2021/NOAAGlobalTemp_v5a_2.csv')

# concatenate dataframes
# gonna turn all the wrong years into -1
frames = [temp_df_pt1, temp_df_pt2]
temp_df = pd.concat(frames, sort=False)

tree_df = pd.read_csv('../tree_data.csv')
tree_df['year'] = tree_df['year'].apply(lambda x: int(x) if str(x).isdigit() else -1)
tree_df.head()

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,year,avg_tree_ring_width,lat,long,elevation,tree_species,organism_group
0,969,164.5,51.75041,-0.34223,NaN,Quercus spp. L.,0
1,970,188.5,51.75041,-0.34223,NaN,Quercus spp. L.,0
2,971,139.0,51.75041,-0.34223,NaN,Quercus spp. L.,0
3,972,173.0,51.75041,-0.34223,NaN,Quercus spp. L.,0
4,973,221.0,51.75041,-0.34223,NaN,Quercus spp. L.,0

In [23]:
tree_df['tree_species'].value_counts()

Pseudotsuga menziesii (Mirb.) Franco    214694
Pinus sylvestris L.                     152902
Tsuga mertensiana (Bong.) Carriere      122337
Pinus ponderosa Douglas ex C. Lawson    112764
Picea glauca (Moench) Voss               85047
                                         ...
Previa maxima                               60
Vitex keniensis Turr                        56
Quercus pubescens Willd.                    51
Ulmus spp. L.                               46
Pistacia lentiscus  L.                      30
Name: tree_species, Length: 246, dtype: int64

In [24]:
# How many have bad years
print(tree_df.shape)
tree_df[tree_df['year'] == -1].shape

(2062155, 7)

(120638, 7)

In [25]:
def get_5x5_grid(og_lat, og_lon, base=2.5):
    lat1 = base * round((og_lat-2.5)/base)
    lat2 = base * round((og_lat+2.5)/base)

    lon1 = base * round((og_lon-2.5)/base)
    lon2 = base * round((og_lon+2.5)/base)

    if lat2-2.5 < og_lat:
        lat2 += 2.5
        lat1 += 2.5
    else:
        lat2 -= 2.5
        lat1 -= 2.5

    if lon2-2.5 < og_lon:
        lon2 += 2.5
        lon1 += 2.5
    else:
        lon2 -= 2.5
        lon1 -= 2.5

    if (lat1 % 5 )== 0 or (lat2 % 5 )== 0:
        if lat1 < 0:
            lat1 += 2.5
            lat2 += 2.5
        else: 
            lat1 -= 2.5
            lat2 -= 2.5

    if (lon1 % 5 )== 0 or (lon2 % 5 )== 0:
        lon1 += 2.5
        lon2 += 2.5

    if (lat1 == -92.5 and lat2 == -87.5):
        lat1 = -87.5
        lat2 = -82.5
    elif (lat1 == 87.5 and lat2 == 92.5):
        lat1 = 82.5
        lat2 = 87.5
    
    if (lon1 == 0.0 and lon2 == 5.0):
        lon1 = 2.5
        lon2 = 7.5
    elif (lon1 == 355.0 and lon2 == 360.0):
        lon1 = 352.5
        lon2 = 357.5

    return lat1, lat2, lon1, lon2

In [26]:
temp_df['year'] = temp_df['time'].apply(lambda x: str(x)[0:4])
temp_df = temp_df.dropna(subset=['anom'])
temp_annual_df =  temp_df.groupby(['year', 'lat', 'lon']).agg({'anom': ['mean']}).reset_index()

In [27]:
# given an observation row, return the row with the correct 5x5 temperature anomaly

def get_gridded_temp_anom(lat, lon, year):
    lat1, lat2, lon1, lon2 = get_5x5_grid(lat, lon)
    print(lat1, lat2, lon1, lon2)
    temp_df_for_lat_lon = temp_df[((temp_df['lat'] == lat1) | (temp_df['lat'] == lat2)) &
                                  ((temp_df['lon'] == lon1) | (temp_df['lon'] == lon2)) &
                                  (temp_df['year'] == str(year))]
    annual_temp_df_for_lat_lon = temp_df_for_lat_lon.groupby(['year']).agg({'anom': ['mean']}).reset_index()
    if len(annual_temp_df_for_lat_lon[annual_temp_df_for_lat_lon['year']==str(year)]['anom']['mean'].tolist()) > 0:
        temp_anom = annual_temp_df_for_lat_lon[annual_temp_df_for_lat_lon['year']==str(year)]['anom']['mean'].tolist()[0]
        return temp_anom

In [28]:
# run it on the data

tree_df_temp = tree_df[tree_df['year'] > 1879]
tree_df_temp = tree_df_temp[tree_df_temp['year'] < 2021]
tree_df_temp = tree_df_temp[tree_df_temp['tree_species']
                            == 'Ulmus spp. L.']
tree_df_temp['temp_anom'] = tree_df_temp.apply(lambda x: get_gridded_temp_anom(x['lat'], x['long'], x['year']), axis=1)
tree_df_temp

47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5
47.5 52.5 7.5 12.5

,year,avg_tree_ring_width,lat,long,elevation,tree_species,organism_group,temp_anom
256981,1946,176.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.245835
256982,1947,146.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.141897
256983,1948,93.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.162076
256984,1949,106.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.367866
256985,1950,87.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.022357
256986,1951,126.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.073660
256987,1952,98.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.667542
256988,1953,119.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.110018
256989,1954,110.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.945114
256990,1955,119.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.969283
256991,1956,142.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-1.682930
256992,1957,125.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.165126
256993,1958,164.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.441107
256994,1959,175.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.340224
256995,1960,113.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.288463
256996,1961,137.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.342837
256997,1962,150.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-1.358805
256998,1963,175.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-1.389860
256999,1964,136.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.479240
257000,1965,171.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-1.083385
257001,1966,199.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.182396
257002,1967,218.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.106812
257003,1968,241.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.448660
257004,1969,170.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.721030
257005,1970,160.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.821062
257006,1971,193.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.241431
257007,1972,158.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.597837
257008,1973,195.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.319121
257009,1974,176.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.071579
257010,1975,151.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.258832
257011,1976,199.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.159607
257012,1977,259.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.030995
257013,1978,283.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.794287
257014,1979,247.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.786528
257015,1980,250.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.931528
257016,1981,249.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.461620
257017,1982,270.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.209627
257018,1983,173.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.273135
257019,1984,185.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.628949
257020,1985,202.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-1.028343
257021,1986,197.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.656762
257022,1987,196.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.929662
257023,1988,184.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.382475
257024,1989,165.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.777030
257025,1990,203.0,47.5828,9.2742,507.0,Ulmus spp. L.,0,0.784193
257026,1991,184.5,47.5828,9.2742,507.0,Ulmus spp. L.,0,-0.215823