In [1]:
import pandas as pd
import numpy as np

In [2]:
temp_df_pt1 = pd.read_csv('../actual_temperature_data/gridded_averages_1880-2021/NOAAGlobalTemp_v5a_1.csv')
temp_df_pt2 = pd.read_csv('../actual_temperature_data/gridded_averages_1880-2021/NOAAGlobalTemp_v5a_2.csv')

# concatenate dataframes
# gonna turn all the wrong years into -1
frames = [temp_df_pt1, temp_df_pt2]
temp_df = pd.concat(frames, sort=False)

tree_df = pd.read_csv('../tree_data.csv')
tree_df['year'] = tree_df['year'].apply(lambda x: float(x) if str(x).isdigit() else -1)
tree_df.head()

C:\Users\ngeta\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,year,avg_tree_ring_width,lat,long,elevation,tree_species,organism_group
0,969.0,164.5,51.75041,-0.34223,NaN,Quercus spp. L.,0
1,970.0,188.5,51.75041,-0.34223,NaN,Quercus spp. L.,0
2,971.0,139.0,51.75041,-0.34223,NaN,Quercus spp. L.,0
3,972.0,173.0,51.75041,-0.34223,NaN,Quercus spp. L.,0
4,973.0,221.0,51.75041,-0.34223,NaN,Quercus spp. L.,0

In [26]:
tree_df['tree_species'].value_counts()

Pseudotsuga menziesii (Mirb.) Franco                                            214694
Pinus sylvestris L.                                                             152902
Tsuga mertensiana (Bong.) Carriere                                              122337
Pinus ponderosa Douglas ex C. Lawson                                            112764
Picea glauca (Moench) Voss                                                       85047
Pinus edulis Engelm.                                                             62735
Picea abies (L.) H. Karst.                                                       50093
Pinus flexilis E. James                                                          45869
Pinus longaeva D.K. Bailey = Pinus aristata var. longaeva                        45638
Larix sibirica Ledeb. = Larix russica (Endl.) Sabine ex Trautv.                  40882
Sequoiadendron giganteum (Lindl.) Buchholz                                       39378
Quercus spp. L.                                                                  38373
Picea engelmannii Parry ex Engelm.                                               36935
Picea mariana (Mill.) Britton, Sterns, & Poggenb.                                32064
Quercus alba L.                                                                  29142
Juniperus occidentalis Hook.                                                     28708
Agathis australis (D. Don) Loudon                                                27697
Taxodium distichum (L.) Rich.                                                    26802
Tsuga canadensis (L.) Carr.                                                      26756
Juniperus przewalskii Komarov = Sabina przewalskii Komarov                       25949
Larix lyallii Parl.                                                              23995
Pinus nigra J.F. Arnold                                                          23020
Quercus robur L. = Quercus pendunculata Ehrl.                                    21673
Pinus albicaulis Engelm.                                                         21568
Abies alba Mill.                                                                 20734
Larix decidua Mill.                                                              20033
Araucaria araucana (Molina) K. Koch                                              19880
Juniperus spp. L.                                                                18990
Nothofagus pumilio (Poepp. & Endl.) Reiche                                       18723
Abies lasiocarpa (Hook.) Nutt.                                                   18057
                                                                                 ...
Adesmia uspallatensis Gill.                                                        155
Canthium burttii                                                                   149
Pinus peuce Griseb.                                                                145
Quercus cerris L.                                                                  142
Cedrela fissilis Vell.                                                             136
Picea omorika (Pancic) Purk.                                                       126
Pinus greggii Engelm. ex Parl.                                                     123
Populus tremula L.                                                                 116
Fraxinus americana L.                                                              111
Callitris robusta (A. Cunn. ex Parl.) F.M. Bailey  = Callitris preissii Miq.       109
Abies durangensis Martinez                                                         109
Pinus engelmannii Carr.                                                            108
Quercus falcata Michx.                                                             108
Pinus elliottii Engelm.                                                            106
Pinus leiophylla var. chihuahuana (Engelm.)                                         98
Quercus boyntonii Beadle                                                            94
Betula papyrifera Marsh.                                                            92
Alnus viridis var. crispa (Ait.) Turrill                                            91
Quercus shumardii Buckl.                                                            90
Quercus macrolepis Kotschy                                                          90
Salix lanata L.                                                                     85
Salix spp.                                                                          81
Hedera helix L.                                                                     79
Abies koreana Wils.                                                                 73
Carpinus betulus L.                                                                 65
Previa maxima                                                                       60
Vitex keniensis Turr                                                                56
Quercus pubescens Willd.                                                            51
Ulmus spp. L.                                                                       46
Pistacia lentiscus  L.                                                              30
Name: tree_species, Length: 246, dtype: int64

In [3]:
# How many have bad years
print(tree_df.shape)
tree_df[tree_df['year'] == -1].shape

(2062155, 7)

(120637, 7)

In [4]:
def get_5x5_grid(og_lat, og_lon, base=2.5):
    lat1 = base * round((og_lat-2.5)/base)
    lat2 = base * round((og_lat+2.5)/base)

    lon1 = base * round((og_lon-2.5)/base)
    lon2 = base * round((og_lon+2.5)/base)

    if lat2-2.5 < og_lat:
        lat2 += 2.5
        lat1 += 2.5
    else:
        lat2 -= 2.5
        lat1 -= 2.5

    if lon2-2.5 < og_lon:
        lon2 += 2.5
        lon1 += 2.5
    else:
        lon2 -= 2.5
        lon1 -= 2.5

    if (lat1 % 5 )== 0 or (lat2 % 5 )== 0:
        if lat1 < 0:
            lat1 += 2.5
            lat2 += 2.5
        else: 
            lat1 -= 2.5
            lat2 -= 2.5

    if (lon1 % 5 )== 0 or (lon2 % 5 )== 0:
        lon1 += 2.5
        lon2 += 2.5

    if (lat1 == -92.5 and lat2 == -87.5):
        lat1 = -87.5
        lat2 = -82.5
    elif (lat1 == 87.5 and lat2 == 92.5):
        lat1 = 82.5
        lat2 = 87.5
    
    if (lon1 == 0.0 and lon2 == 5.0):
        lon1 = 2.5
        lon2 = 7.5
    elif (lon1 == 355.0 and lon2 == 360.0):
        lon1 = 352.5
        lon2 = 357.5

    return lat1, lat2, lon1, lon2

In [5]:
temp_df['year'] = temp_df['time'].apply(lambda x: str(x)[0:4])
temp_df = temp_df.dropna(subset=['anom'])
temp_annual_df =  temp_df.groupby(['year', 'lat', 'lon']).agg({'anom': ['mean']}).reset_index()

In [31]:
# given an observation row, return the row with the correct 5x5 temperature anomaly

def get_gridded_temp_anom(lat, lon, year):
    lat1, lat2, lon1, lon2 = get_5x5_grid(lat, lon)
    temp_df_for_lat_lon = temp_df[((temp_df['lat'] == lat1) | (temp_df['lat'] == lat2)) &
                                  ((temp_df['lon'] == lon1) | (temp_df['lon'] == lon2)) &
                                  (temp_df['year'] == str(year))]
    annual_temp_df_for_lat_lon = temp_df_for_lat_lon.groupby(['year']).agg({'anom': ['mean']}).reset_index()
    if len(annual_temp_df_for_lat_lon[annual_temp_df_for_lat_lon['year']==str(year)]['anom']['mean'].tolist()) > 0:
        temp_anom = annual_temp_df_for_lat_lon[annual_temp_df_for_lat_lon['year']==str(year)]['anom']['mean'].tolist()[0]
        return temp_anom

In [33]:
# run it on the data

tree_df_temp = tree_df[tree_df['year'] > 1879]
tree_df_temp = tree_df_temp[tree_df_temp['year'] < 2021]
tree_df_temp = tree_df_temp[tree_df_temp['tree_species'] == 'Abies alba Mill.']
tree_df_temp['temp_anom'] = tree_df.apply(lambda x: get_gridded_temp_anom(x['lat'], x['long'], x['year']), axis=1)
tree_df_temp